<google-map [center]="center" [zoom]="zoom" [options]="options" [height]="'100%'" [width]="'100%'">
    <map-circle #circle="mapCircle" [center]="circleCenter" [radius]="radius" [options]="circleOptions"></map-circle>
    <ng-container *ngFor="let markerPosition of markerPositions; trackBy: trackByFn">
      <map-marker #marker="mapMarker"
          [position]="{ lat: markerPosition.lat!, lng: markerPosition.lng! }"
          [icon]="markerPosition.icon"
          (mapClick)="openInfoWindow(marker, markerPosition, true)">
      </map-marker>

      <!-- Conditionally render deployment markers if coordinates are available -->
      <map-marker #deployment="mapMarker" *ngIf="markerPosition.homeLat !== null && markerPosition.homeLng !== null"
          [position]="{ lat: markerPosition.homeLat!, lng: markerPosition.homeLng! }"
          [icon]="markerPosition.homeIcon"
          (mapClick)="openInfoWindow(deployment, markerPosition, false)">
      </map-marker>
  </ng-container>

  <div id="legend">
  
    <div *ngFor="let legend of legends">
      <img [src]="legend.icon" width="16" height="20"> {{ legend.name }}
    </div>
  </div>
    
    <map-info-window [options]="infoWindowOptions">
      <ng-container [ngTemplateOutlet]="infoWindowTemplate"></ng-container>
    </map-info-window>
    <ng-template #infoWindowTemplate>
      <div #tooltip class="map-tooltip">
  
      </div>
    </ng-template>

  </google-map>
  