<head>
    <style>
         ::placeholder {
            color: rgb(184, 181, 181);
            opacity: 1;
            text-align: left !important;
        }
        
        mat-form-field {
             ::ng-deep .mat-option-required::after {
                display: none;
            }
        }
        
        mat-form-field ::ng-deep .mat-option-required .mat-option-pseudo-checkbox::after {
            color: transparent;
        }
    </style>
</head>
<div class="d-flex justify-content-between align-items-center ds-form" style="height:57px; padding:0 3rem;">
    <h5 style="font-weight: bold;margin-bottom:0;font-size:15px;">UPDATE-RESET PASSWORD</h5>
    <div class="clse">
        <button mat-button [mat-dialog-close]="true">
            <mat-icon>clear</mat-icon>
        </button>
    </div>
</div>
<mat-divider></mat-divider>
<div class="example-form" style="padding:1rem 3rem;">
    <div class="row">
        <form [formGroup]="resetPasswordForm">
            <div class="row mb-2">
                <div class="col-sm-12">
                    <label class="form-label fs mendatory-field">Email</label>
                    <input formControlName="email" type="email" class="form-control fs" placeholder="Email" [ngClass]="{'danger':submit && resetPasswordForm.get('email')?.invalid,'nodanger':resetPasswordForm.get('email')?.valid}">
                </div>
            </div>
            <div class="col-sm-6 mb-4">
                <span class="text-color-red" *ngIf="submit==true && resetPasswordForm.get('email')?.invalid">Please
                    enter valid email.</span>
            </div>
            <div class="btn-group d-flex justify-content-between">
                <button mat-raised-button class="grn-dark" (click)="changeResetPassword('update')">Update Password</button>
                <button mat-raised-button class="grn-dark" (click)="changeResetPassword('reset')">Reset Password</button>
                <button mat-raised-button class="out_grn-dark">Clear</button>
            </div>
        </form>
    </div>
</div>