<div class="footer login-footer" style="font-size:14px">
    <span class="footer-logo"><img src="assets/images/footerlogo.jpg"></span> <span class="version"> Version
        {{appVersion}}</span> <span class="version"> forms {{formanizer}}</span>
    <span class="version"> amplify {{amplify}}</span> <span class="version"> <ng-container
            *ngIf="(identifier.indexOf(environment.ClientName)==-1)"> chatbot {{chatbot}}</ng-container></span>
    <p>Copyright © agenci/iQ LLC, 2025. All rights reserved.</p>
</div>