.welcome_fpd_txt {
    width: 640px;
    margin: 0 auto;
}

.welcome_page_header h1 {
    margin-bottom: 0;
    font-weight: 600;
}

.welcome_fpd_txt span p {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 14px;
    font-weight: 501;
    border-bottom: 4px solid #ffa022;
}

.qr_code img:hover {
    transition: all .44s ease-out;
    width: 170px;
    cursor: pointer;
}

.notified_header h2 {
    color: #00b1c3;
}

.notified_header p {
    font-size: 13px;
    font-weight: 400;
}