<div class="container" style="max-width:992px;">
    <div class="row">
        <div class="text-light text-center row g-0 welcome_page_header" style="height:57px; padding:0 3rem;background:#00b1c3;align-items: center;">
            <h1 class="col-sm-12 text-center">WELCOME TO THE FPD NETWORK !</h1>
        </div>
        <div class="clse  text-end end-closed" #tooltip="matTooltip" matTooltipClass="bg-light text-dark border border-info" matTooltip="Close" matTooltipPosition="above">
            <button mat-button [mat-dialog-close]="true">
                <mat-icon>clear</mat-icon>
            </button>

        </div>

        <div class="welcome_fpd_txt text-center col-sm-12">
            <span class="mx-5">
                <p>Thank you for taking the time to complete our application! Your profile has been successfully created.</p>
            </span>
            <p>What's next? Check your email for log-in credentials to your account. This will allow you to access and edit your profile at any time. If our team has any questions regarding your application, a team member will reach out to you.
            </p>
            <div class="border-line"></div>
            <div class="notified_header">
                <h2>Get notified faster by adding us to your contacts:</h2>
                <p>Nothing is worse than a deployment opportunity going to your junk folder! Scan the QR code below to add us to your contacts.</p>
                </div>
            <!-- qr code  -->
            <div class="qr_code m-5">
                <img src="../../../assets/assets/image/qr code.jpg" alt="qr_code" width="140">
            
            </div>
            <p style="white-space: nowrap;">QR Code not working? Here's our contact information  <a href="mailto:recruiting@fpdsolutions.com">recruiting@fpdsolutions.com</a></p>
        </div>
    </div>
</div>
