<div class="overvw">
    <mat-card>
        <mat-card-content>
            <a><img src="../../../assets/assets/image/locate_img/check.png" alt="check" style="width:24px;">
                <mat-label class="fnt ms-2 mb-0">Adjuster List</mat-label>
            </a>
            <button mat-icon-button [matMenuTriggerFor]="any" aria-label="Example icon-button with a menu" (click)="toggleList()">
                <mat-icon class="filter" [ngClass]="{'toggle-list': isToggleList}">menu</mat-icon>
        </button>
        </mat-card-content>
    </mat-card>
</div>