<div class="sub_recevied">
    <div class="recevied_content">
        <a title="Opportunity Accepted">
            <h2>Opportunity Accepted</h2>
        </a>
        <p>
          Thank you for your  response and for your
          willingness to help us out with this assignment. If
          you are matched with this claim, someone will contact you to to discuss the fee schedule and finalize the assignment.
        </p>
    </div>

    <button mat-raised-button class="grn-dark" (click)="thanksPange()">Done</button>
</div>
