.sub_recevied {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    flex-direction: column;
    text-align: center;
    margin-top: 2rem;
}

.recevied_content {
    margin: 4px 31px;
}

.recevied_content p {
    font-size: 13px;
}

.recevied_content h2 {
    color: #000 !important;
    text-decoration: underline !important;
    padding: 3px auto;
}

hr {
    height: 3px !important;
}

.sub_line {
    color: #000;
}

.submission .cdk-overlay-dark-backdrop {
    background: rgba(0, 0, 0, .32);
}

.rec {
    flex: 0 0 auto;
    width: 25.667% !important;
}