<div class="container-fluid internal-container">
    <form [formGroup]="fileTracForm">
        <div class="row">
            <div class=" col-sm-12 col-md-6 col-lg-3 mb-3" *ngIf="updateBtnAlowed && !(userType === 2 && userRole === 4)">
                <mat-label class="form-label fnt">Filetrac User ID </mat-label>
                <input [disabled]="updateBtnAlowed" formControlName="userId" type="number" class="form-control fs"  (keypress)="keyPressNumbers($event)" placeholder="Number">
                
            </div>
            <div class="col-sm-3 col-md-3 col-lg-1 mb-3 d-flex item-center" *ngIf="updateBtnAlowed">
                <button [disabled]="updateBtnDisabled"  mat-raised-button class="grn-dark inf Filetrac-update-btn" #tooltip="matTooltip" matTooltipClass="bg-light text-dark border border-info" matTooltip="Update" matTooltipPosition="above" (click)="updateFileTracId()" >Update</button>
            </div>
            <div class="form-outline col-sm-12 col-md-6 col-lg-3 mb-3 add_label">
                <mat-label class="fnt">Total Number of Claims Received</mat-label>
                <input [disabled]="true" formControlName="total_Number_Of_Claim"  type="number" class="form-control fs" placeholder="Number">
            </div>
            <mat-divider></mat-divider>
        </div>
    </form>
    <div class="row d-flex">
        <div class="col-sm-12 mb-2 text-center">
            <mat-label class="lg_fnt expr">
                Claim Received Summary
            </mat-label>
        </div>
        <div class="column w-25 table-container">
            <table mat-table
            [dataSource]="dataSource" 
            class="mat-elevation-z8">
       <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
         <th mat-header-cell *matHeaderCellDef class="mat-column-TotalClaims"> {{getHeaderDisplay(column) }} </th>
         <td mat-cell *matCellDef="let element" class="mat-column-TotalClaims"> {{element[column]}} </td>
       </ng-container>
     
       <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
 
     
       <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
       <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
           class="example-element-row">
       </tr>
      
             </table>
        </div>
        <div class="column w-50">
            <kendo-chart>
                <!-- <kendo-chart-title text="Claim Received Summary"></kendo-chart-title> -->
                <kendo-chart-category-axis>
                  <kendo-chart-category-axis-item [categories]="this.years">
                  </kendo-chart-category-axis-item>
                </kendo-chart-category-axis>
                <kendo-chart-series>
                  <kendo-chart-series-item
                    type="line"
                    [gap]="0.25"
                    [spacing]="0.25"
                    [data]="this.totalNumberOfClaimByYear"
                  >
                  </kendo-chart-series-item>
                  <kendo-chart-series-item type="bar"  [gap]="2"
                  [spacing]="2" [data]="this.totalNumberOfClaimByYear">
                  </kendo-chart-series-item>
                </kendo-chart-series>
                <kendo-chart-tooltip [visible]="true" [format]="'{0}'" ></kendo-chart-tooltip>
              </kendo-chart>
        </div>
        <div class="column w-25 table-container">
            <table mat-table
            [dataSource]="dataSource2" 
            class="mat-elevation-z8">
       <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay2">
         <th mat-header-cell *matHeaderCellDef> {{getHeaderDisplay(column)}} </th>
         <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
       </ng-container>
     
     
       <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
     
       <tr mat-header-row *matHeaderRowDef="columnsToDisplay2"></tr>
       <tr mat-row *matRowDef="let element; columns: columnsToDisplay2;"
           class="example-element-row2">
       </tr>
      
             </table>
        </div>


    </div>
  

</div>