.danger {
    border: 1px solid red;
}

.nodanger {
    border: 1px solid #08f069;
}


.info_button {
    mat-icon {
        cursor: pointer;
        position: relative;
        top: 8px;
        left: 8px;
        font-size: 19px;
        color: #00b1c3;
    }
}

.confirm_show_hide {
    display: flex;
    align-items: center;
    button {
        margin-left: -44px;
        margin-bottom: 2px;
    }
    mat-icon {
        font-size: 19px !important;
        color: #a7a7a7;
    }
    mat-icon:hover {
        font-size: 20px !important;
        color: #00b1c3;
        transition: all .55s ease-out;
    }
}