  <div *ngIf="coreValuesForm" class="container-fluid coreValue-container">
    <form [formGroup]="coreValuesForm">
      <div formArrayName="headers">
        <div *ngFor="let header of headers.controls; let i = index" [formGroupName]="i" class="mt-2">
          <h3>{{ header.get('headerText')?.value }}</h3>
          <div formArrayName="controls" class="mt-2">
            <div *ngFor="let control of getControls(header).controls; let j = index" [formGroupName]="j">
              <!-- Handling TextArea -->
              <ng-container *ngIf="control.get('controlType')?.value === 'TextArea'">
                <mat-label class="coreLabel">{{ control.get('questionText')?.value }}</mat-label>
                <mat-form-field appearance="fill" class="w-100 text-form-field-bg">
                  <textarea matInput formControlName="controlValue" [attr.maxLength]="control.get('maxLength')?.value"></textarea>
                </mat-form-field>
                <div class="d-flex justify-content-end">
                  <mat-hint>{{control.get('controlValue')?.value.length}} / 20000</mat-hint>
                </div>
                 
              </ng-container>
              
              <!-- Handling RadioButton -->
              <ng-container *ngIf="control.get('controlType')?.value === 'RadioButton'">
                <div class="w-100 mt-2 core-radio-btn">
                  <label>{{ control.get('questionText')?.value }}</label>
                  <mat-radio-group formControlName="controlValue" aria-label="Select an option" class="radio-btns-direction">
                    <mat-radio-button *ngFor="let option of control.get('options')?.value" [value]="option" class="mt-2">{{ option }}</mat-radio-button>
                  </mat-radio-group>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
      <!-- <button mat-raised-button type="submit">Submit</button> -->
    </form>
</div>
