.view_sticky_container {
    height: calc(100vh - 46vh);
    width: 100%;
    overflow: auto;
    border-radius: 8px;
}

// table {
//     width: 1494px;
// }

.mat-header-cell {
    font-size: 14px;
    letter-spacing: .5px;
    color: #fff;
}

tr.mat-header-row {
    // background: #00b1c3;
    position: sticky;
    top: 0;
    z-index: 999;
    background: #fff;
}

td.mat-column-star {
    width: 20px;
    padding-right: 8px;
}

th.mat-column-position,
td.mat-column-position {
    padding-left: 8px;
}