
<div (click)="$event.stopPropagation()">
    <kendo-filter #filter [value]="value" (valueChange)="filterFn(filter.value)">

        <kendo-filter-field *ngFor="let filterItem of filters" 
                            [field]="filterItem.field" 
                            [title]="filterItem.title!" 
                            [editor]="filterItem.editor" 
                            [operators]="filterItem.operators!" (valueChange)="filterFn(filter.value)">
                            <ng-template kendoFilterValueEditorTemplate let-currentItem *ngIf="isArrayOptionsEmpty(filterItem.field) && filterItem.editor !== 'date' ; else originalTemplate">
                                <kendo-textbox 
                                    (valueChange)="onChangeForMultiselect($event,currentItem)" 
                                    (filterChange)="handleFilterChange($event,filterItem.field)"
                                    [disabled]="isOperatorEmptyOrNotEmpty(currentItem)"
                                    [value]="isArray(currentItem.value) ? currentItem.value[0] : currentItem.value">
                                </kendo-textbox>
                              </ng-template>
            <ng-template kendoFilterValueEditorTemplate let-currentItem #originalTemplate >
                <!-- If the editor is 'string', show the kendo-multi
                 select component -->
                <kendo-multiselect *ngIf="filterItem.editor === 'string' && (currentItem.operator !== 'eq' && currentItem.operator !== 'neq')"
                [data]="fieldDataMap[filterItem.field]"
                [filterable]="true"
                (valueChange)="onChangeForMultiselect($event,currentItem)" 
                (filterChange)="handleFilterChange($event,filterItem.field)"
                [disabled]="isOperatorEmptyOrNotEmpty(currentItem)"
                [ngModel]="getMultiselectValue(currentItem)" [valuePrimitive]="true"
                [value]="isArray(currentItem.value) === null ? null : (isArray(currentItem.value) ? currentItem.value : [currentItem.value])">
                </kendo-multiselect>

                <kendo-dropdownlist  *ngIf="filterItem.editor === 'string' && (currentItem.operator === 'eq' || currentItem.operator === 'neq')"
                [data]="fieldDataMap[filterItem.field]"
                [filterable]="true"
                (valueChange)="onChangeForSingleValue($event,currentItem)" 
                (filterChange)="handleFilterChange($event,filterItem.field)"
                [disabled]="isOperatorEmptyOrNotEmpty(currentItem)"
                [value]="isArray(currentItem.value) ? currentItem.value[0] : currentItem.value">
                </kendo-dropdownlist>

                <kendo-datepicker calendarType="classic" #datepicker
                  *ngIf="filterItem.editor === 'date'"
                  (valueChange)="onChangeForMultiselect($event,currentItem)"
                  (filterChange)="handleFilterChange($event,filterItem.field)" [disabled]="isOperatorEmptyOrNotEmpty(currentItem)"
                  [ngModel]="getDateValue(currentItem)" [value]="getDateValue(currentItem)">
                </kendo-datepicker>
                 

            </ng-template>
        </kendo-filter-field>
    
    </kendo-filter>                           
</div>
<div>
    
</div>
<div class="filter-btn-space">
    <button mat-raised-button class="out_grn-dark text-light" [disabled]="isDefaultFilterApplied"
        [ngClass]="{ 'disabled-button-style': isDefaultFilterApplied }" (click)="initializeValue()">
        Reset
    </button>


    <button mat-raised-button class="bg-greendark text-light" (click)="applyfiltersManual()">
        Apply
    </button>
</div>
  