<header>
    <nav class="navbar navbar-expand-lg shadow">
        <div class="container-fluid align-items-center justify-content-center">
            <a class="navbar-brand">
                <img src="../../../assets/assets/image/FPD Solutions Logo.png" alt="logo" class="img-fluid" width="190" target="_blank" #tooltip="matTooltip" matTooltipClass="bg-light text-dark border border-info" matTooltip="MyFPD Portal" matTooltipPosition="right">
            </a>
        </div>
    </nav>
</header>
<!-- header section demo........... -->
<div class="container-fluid my-2">
    <div class="row align-items-center">
        <div class="back_admin  col-sm-12 col-lg-2">
            <!-- <button mat-raised-button class="rgst" (click)="bacK()">
                    <mat-icon> arrow_left</mat-icon>Back</button> -->
        </div>
        <div class="text-center col-sm-12 col-lg-8 offset-lg-0 rgstr_head" style="
            white-space: pre-wrap;letter-spacing:.4px;">
            <h2 style="color:#00b1c3; margin-bottom:0;">Please complete the following form to get started</h2>
            <p style="margin-bottom:0;"><strong>TIME-SAVING TIP : You don't have to fill out every single question
                        in the application</strong>
                <p>Only complete the information related to the skills and type of claims you would like to be matched with.
                </p>
        </div>
    </div>
</div>
<div class="register-tabs container-fluid">
    <mat-tab-group mat-stretch-tabs="false" class="tab_height" mat-align-tabs="start" (selectedTabChange)="tabChanged($event)">
        <mat-tab label="Contact Information">
            <app-contact-info #contactInfoComponent></app-contact-info>
        </mat-tab>
        <mat-tab label="Skills + Work History">
            <app-history-info #historyInfoComponent></app-history-info>
        </mat-tab>
        <mat-tab label="Licenses + Certification">
            <app-certificate-info #certificateInfoComponent></app-certificate-info>
        </mat-tab>
        <mat-tab label="Core Values">
            <app-core-values #coreValuesComponent></app-core-values>
        </mat-tab>
    </mat-tab-group>
</div>
<mat-divider></mat-divider>
<div class="container-fluid mt-2" style="padding:4px 33px;">
    <div class="row text-center bottom_butn">
        <div class="col-sm-3 col-12 text-start">
            <button mat-raised-button class="rgst " #tooltip="matTooltip" matTooltipClass="bg-light text-dark border border-info" matTooltip="Previous" matTooltipPosition="above" [disabled]="isFirstTab" [hidden]="isFirstTab" (click)="changeTab(activeTabIndex,'previous')">
                    <mat-icon> arrow_left</mat-icon>
                    Previous
                </button>
        </div>
        <div class="col-sm-6 col-12 button-space">
            <!-- <button mat-raised-button class="rgst inf" #tooltip="matTooltip"
                matTooltipClass="bg-light text-dark border border-info" matTooltip="Save" matTooltipPosition="above"
                (click)="saveAndSubmit('save')">Save</button> -->
            <button mat-raised-button class="out_rgst inf" #tooltip="matTooltip" matTooltipClass="bg-light text-dark border border-info" matTooltip="Clear" matTooltipPosition="above" (click)="Reset()">Clear</button>
            <!-- <button mat-raised-button color="accent" (click)="welcomefpd()">welcome</button> -->
        </div>
        <div class="col-sm-3 col-12 text-end">
            <button mat-raised-button class="rgst inf" #tooltip="matTooltip" matTooltipClass="bg-light text-dark border border-info" matTooltip="Next" matTooltipPosition="above" *ngIf="!isLastTab" (click)="changeTab(activeTabIndex,'next')">Next <mat-icon>
                        arrow_right</mat-icon>
                </button>
            <button mat-raised-button class="rgst inf" #tooltip="matTooltip" matTooltipClass="bg-light text-dark border border-info" matTooltip="Submit" matTooltipPosition="above" (click)="saveAndSubmit('submit')" [disabled]="!isSubmitEnable" *ngIf="isLastTab">Submit</button>

        </div>
    </div>
</div>