.back_admin {
    button {
        margin: 0 12px;
    }
}

.rgster_btn {
    background: #fcae59;
    color: #fff;
    flex: 0 0 auto;
    max-width: 100%;
    flex-wrap: nowrap;
}

// .........................................
.register_tabs {
    margin-top: 86px;
    height: calc(100vh - 237px);
}

#reg {
    position: sticky;
    top: 0;
    transition: all .3s ease;
}