<div class="wordfile">

<div class="custom-dialog-header">
  <h2>{{ data.name || 'Dialog Title' }}</h2>

  <!-- Rotation control buttons -->
  <div class="control-group">
    <div class="rotation-controls" *ngIf="data.type === 'pdf'">
      <button mat-icon-button class="custom-icon-button" (click)="rotateLeft()">
        <mat-icon>rotate_left</mat-icon>
      </button>
      <button mat-icon-button class="custom-icon-button" (click)="rotateRight()">
        <mat-icon>rotate_right</mat-icon>
      </button>
    </div>
    <div class="rotation-controls" *ngIf="isDownloadable">
      <button mat-icon-button class="custom-icon-button" (click)="downloadFile()">
        <mat-icon>download</mat-icon>
      </button>

    </div>

    <button mat-icon-button class="custom-icon-button" (click)="onClose()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>

<mat-dialog-content class="dialog-content" style="overflow-y: scroll;">
  <div class="content-container content_pg" [ngClass]="{'pdf-content': data.type === 'pdf'}">
    <ng-container [ngSwitch]="data.type">
      <img *ngSwitchCase="'image'" [src]="data.url" alt="Image Preview" class="content-item imgshadow" />
      
      <!-- <ngx-doc-viewer *ngSwitchCase="'pdf'" [url]="data.url" viewer="url" disableContent="popout-hide"
        style="width: 100%; height: 93vh;"></ngx-doc-viewer> -->
        <pdf-viewer [src]="data.url"  *ngSwitchCase="'pdf'" [rotation]="rotation"
        style="width: 80vw; height: 100vh" [original-size]="true"
        [fit-to-page]="true" [show-all]="true" [render-text]="true" [render-text-mode]="1"
></pdf-viewer>

       
       

      <ngx-doc-viewer *ngSwitchCase="'doc'" [url]='data.url' viewer="mammoth">
      </ngx-doc-viewer>

      <kendo-spreadsheet *ngSwitchCase="'xlsx'" #spreadsheet [menuItems]="items"
        style="height: 480px; width: 100%"></kendo-spreadsheet>

        <iframe *ngSwitchCase="'txt'" [src]="safeUrl" class="content-item" style="width: 100%; height: auto;"></iframe>
        <kendo-spreadsheet *ngSwitchCase="'xls'" #spreadsheet [menuItems]="items"
        style="height: 500px; width: 100%"></kendo-spreadsheet>

        <video *ngSwitchCase="'video'" [src]="data.url" controls class="content-item" oncontextmenu="return false;"
        controlsList="nodownload"></video>

      <div *ngSwitchDefault class="unsupported-message">
        <mat-icon>error_outline</mat-icon>
        <p>Unsupported file type or content unavailable</p>
      </div>
    </ng-container>
  </div>
</mat-dialog-content>
</div>