mat-dialog-content {
    position: relative;
    // width: 80vw;   
    // height: 90vh; 
    max-width: none; /* Remove default max-width limitation */
    // max-height: none;
    background: rgba(255, 255, 255, 0.1); /* Transparent background */
    backdrop-filter: blur(15px); /* Blur the backdrop for visual effect */
    border-radius: 16px; /* More rounded corners */
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3); /* Slightly stronger shadow for depth */
    // overflow: hidden !important;
    overflow-y: auto;
    overflow-x: hidden;
  }
 
  
  .content-container {
    display: flex;
    align-items: start;
    justify-content: start;
    height: 100%; /* Take the full height of the dialog content */
    // overflow: hidden !important;
    overflow-y: auto;
    overflow-x: auto;

  }

 
  
  .content-item {
    max-width: 90%;
    max-height: 90%;
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Soft shadow for better visual appeal */
  }
  
  .unsupported-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ff5722;
  }
  
  .unsupported-message mat-icon {
    font-size: 48px;
    margin-bottom: 10px;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    border-radius: 50%;
    transition: background 0.3s ease;
  
    &:hover {
      background: rgba(0, 0, 0, 0.8);
    }
  }
  .rotation-controls{
    // position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:7px;
    // top: 10px;
    // right: 100px;
  }


  // countent block code
  img, pdf-viewer {
     /* Prevent right-click */
    user-select: none;     /* Prevent selecting and copying text */
  }
  
  body {
    -webkit-user-select: none; /* Prevent selecting text on Safari/Chrome */
    -moz-user-select: none;    /* Prevent selecting text on Firefox */
    -ms-user-select: none;     /* Prevent selecting text on old IE versions */
    user-select: none;         /* Standard user-select property */
  }
  