<div class="container-fluid ad_paddng">
    <div class="row">
        <mat-tab-group mat-stretch-tabs="false" class="tab_height" mat-align-tabs="start"
            (selectedTabChange)="tabChanged($event)">
            <mat-tab label="Basic Information">
                <app-basic-info #basicInfoComponent (dataEvent)="receiveRoleAndTypeData($event)"></app-basic-info>
            </mat-tab>
            <mat-tab label="Skills + Work History" *ngIf="this.tabCount>=2">
                <app-additional-info #additionalInfoComponent></app-additional-info>
            </mat-tab>
            <mat-tab label="Licenses + Certification" *ngIf="this.tabCount>=3">
                <app-liences-and-certification #liencesAndCertificationComponent></app-liences-and-certification>
            </mat-tab>
            <mat-tab label="Attachments" *ngIf="this.tabCount>=4">
                <app-attachments #attachmentsComponent></app-attachments>
            </mat-tab>
            <mat-tab label="Deployment" *ngIf="this.tabCount>=5">
                <app-deployment-info #deploymentInfoComponent></app-deployment-info>
            </mat-tab>
            <mat-tab label="Core Values" *ngIf="this.tabCount>=6">
                <app-core-values #coreValuesComponent></app-core-values>
            </mat-tab>
            <mat-tab label="Claims" *ngIf="showFileTracTab">
                <app-file-trac-info #fileTracInfoComponent [userType]="userType"
                    [userRole]="userRole"></app-file-trac-info>
            </mat-tab>
            <mat-tab *ngIf="this.tabCount>=8 && this.userType==1">
                <ng-template mat-tab-label>
                    <button mat-button [matMenuTriggerFor]="internalMenu" class="internal-tab-menu-btn"
                        [class.active]="activeTabIndex === 7">
                        <span>Internal</span>
                        <mat-icon>arrow_drop_down</mat-icon>
                    </button>
                </ng-template>
                <app-internal-info #internalInfoComponent
                    [selectedSection]="selectedInternalSection"></app-internal-info>
            </mat-tab>


        </mat-tab-group>
    </div>
    <mat-divider></mat-divider>
    <div class="row text-center bottom_butn mt-2">
        <div class="col-sm-3 col-12 text-start">
            <button mat-raised-button class="grn-dark mb-3" #tooltip="matTooltip"
                matTooltipClass="bg-light text-dark border border-info" matTooltip="Previous" matTooltipPosition="above"
                [disabled]="isFirstTab" [hidden]="isFirstTab" (click)="changeTab(activeTabIndex,'previous')">
                <mat-icon> arrow_left</mat-icon>
                Previous</button>
            <button mat-raised-button class="grn-dark mb-3" #tooltip="matTooltip"
                matTooltipClass="bg-light text-dark border border-info" matTooltip="Back" matTooltipPosition="above"
                *ngIf="isFirstTab" (click)="navigateBack()">
                <mat-icon> arrow_left</mat-icon>
                Back</button>
        </div>
        <div class="col-sm-6 col-12 button-space">
            <!-- Edit button for View Only mode -->
            <div *ngIf="isviewProfile && shouldShowEditButton()">
                <button mat-raised-button class="grn-dark inf mb-3 edit-btn" #tooltip="matTooltip"
                    matTooltipClass="bg-light text-dark border border-info" matTooltip="Enable Edit Mode"
                    matTooltipPosition="above" (click)="enableEditMode()">
                    Edit
                </button>
            </div>

            <!-- Existing Save/Submit buttons for Edit mode -->
            <div *ngIf="!isviewProfile">
                <button *ngIf="!isProfile" mat-raised-button class="grn-dark inf mb-3 submit-btn" #tooltip="matTooltip"
                    matTooltipClass="bg-light text-dark border border-info" matTooltip="Submit"
                    matTooltipPosition="above" (click)="saveAndSubmit('submit')"
                    [hidden]="!isSubmitEnable || adjusterLeadSubmitAllowed" [disabled]="checkSubmitButtonDisabled()">Submit</button>
                <button mat-raised-button class="grn-dark inf mb-3 save-btn" #tooltip="matTooltip"
                    matTooltipClass="bg-light text-dark border border-info" matTooltip="Save" matTooltipPosition="above"
                    (click)="saveAndSubmit('save')" [disabled]="adjusterLeadSaveAllowed">Save</button>
                <!-- <button *ngIf="isSubmitEnable" mat-raised-button class="out_grn-dark inf mb-3" #tooltip="matTooltip"
                    matTooltipClass="bg-light text-dark border border-info" matTooltip="Clear"
                    matTooltipPosition="above" (click)="Reset()"
                    [hidden]="adjusterLead || checkCurrentTab()">Clear</button>
                <button *ngIf="!isSubmitEnable" mat-raised-button class="out_grn-dark inf mb-3" #tooltip="matTooltip"
                    matTooltipClass="bg-light text-dark border border-info" matTooltip="Clear"
                    matTooltipPosition="above" (click)="Reset()"
                    [hidden]="adjusterLead || checkCurrentTab()">Reset</button> -->
            </div>
        </div>
        <div class="col-sm-3 col-12 text-end"> <button mat-raised-button class="grn-dark mb-3" #tooltip="matTooltip"
                matTooltipClass="bg-light text-dark border border-info" matTooltip="Next" matTooltipPosition="above"
                [disabled]="isLastTab" [hidden]="isLastTab" (click)="changeTab(activeTabIndex,'next')">Next <mat-icon>
                    arrow_right</mat-icon></button>
        </div>
    </div>
</div>

<mat-menu #internalMenu="matMenu" yPosition="below" xPosition="after" class="internal-menu-panel internal-overlay-menu">
  <button mat-menu-item (click)="selectInternalSection('internal')" [class.active]="selectedInternalSection === 'internal'">Internal Information</button>
  <button mat-menu-item (click)="selectInternalSection('onboarding')" [class.active]="selectedInternalSection === 'onboarding'">Onboarding</button>
  <ng-container *ngIf="userType === 1 && userRole != 4" >
  <button mat-menu-item (click)="selectInternalSection('auditTrail')" [class.active]="selectedInternalSection === 'auditTrail'">Audit Trail</button>
  </ng-container>
</mat-menu>