<div class="container-fluid-lg bg-opprtunity paddingAll">
    <div class="row">
        <div class="dashboard_heading col-sm-12 ">
            <h3 *ngIf="isPending">Tasks{{'('+userResources?.pendingCount+')'}}</h3>
            <h3 *ngIf="!isPending">Tasks{{'('+userResources?.expiredCount+')'}}</h3>
        </div>
         <!-- prgress bar section -->
         <div class="col-sm-12 container_box">
          <mat-card>
              <mat-card-content>
                  <div class="row">
                      <!-- <div class="col-sm-2 recources-container">
                          <span class="recources">{{userResources?.total}} - Resources</span>
                          <span>|</span>
                      </div> -->
                      <div class="tab_buttons col-sm-12 col-md-4 col-lg-6 d-flex">
                        <button mat-raised-button class="active_button" (click)="pendingList()" [ngClass]="[isPending==true?'action':'']">Pending</button>
                        <button mat-raised-button class="complete_button" (click)="expiredList()" [ngClass]="[isPending==false?'action':'']">Expired</button>
                    </div>
                      
                      <!-- <div class="col-sm-1 display_fs">
                          <span class="recources">{{userResources?.activeUsers}} - Active</span>
                      </div>
                      <div class="col-sm-4">
                          <div class="d-flex align-items-center gap-2 display_fs">
                              <div class="progress admin_prgres">
                                  <div class="progress-bar progress-bar-success non-fpduser" [style.width]="userResources?.activeUserPercentage+'%'" style="font-weight: 400; font-size: 10px; cursor:pointer; padding: 0 7px" role="progressbar" #tooltip="matTooltip" matTooltipClass="bg-light text-dark border border-info"
                                      matTooltip="Active Users {{userResources?.activeUserPercentage+'%'}}" matTooltipPosition="above">
                                      {{userResources?.activeUserPercentage+'%'}}
                                  </div>
                                  <div  class="progress-bar progress-bar-warning fpd_user" [style.width]="userResources?.inactiveUserPercentage+ 7 +'%'" style="font-weight: 400; font-size: 10px;cursor:pointer; padding: 0 7px" role="progressbar" #tooltip="matTooltip"
                                      matTooltipClass="bg-light text-dark border border-info" matTooltip="Inactive Users {{userResources?.inactiveUserPercentage+'%'}}" matTooltipPosition="above">
                                      {{userResources?.inactiveUserPercentage+'%'}}
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-sm-4">
                          <div class="d-flex align-items-center gap-3 fw-bold display_fs">
                              <span class="recources">{{userResources?.inactiveUsers}} - Inactive</span>
                          </div>
                      </div> -->
                  </div>
              </mat-card-content>
          </mat-card>
      </div>
        <!-- resources  -->
        <div class="col-sm-12">
            <div class="row align-items-center">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12 align-items-center">
                    <div class="row">
                        <div class="resource_head col-sm-6 col-md-3 col-lg-2 my-3 admin-search-by">
                            <h3>Search By :</h3>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3 my-3 ">
                            <label class="visually-hidden select-box fs" for="inlineFormSelectPref"></label>
                            <select class="select" [(ngModel)]="filterBy" (change)="filterBasedOn($event)">
                        <option value="All" selected>All</option>
                        <option value="name">Name</option>
                        <option value="mobile">Phone</option>
                        <option value="emailAddress">Email</option>
                        <option value="backgroundCheckStatus">Background Status Check</option>
                        <option value="fieldAdjusterContract">Field Adjuster Contract</option>
                        <option value="deskAdjusterContract">Desk Adjuster Contract</option>
                        <option value="supervisorContract">Supervisor Contract</option>
                        <option value="adminContract">Admin Contract</option>
                        <option value="payrollStatus">Payroll Status</option>
                    </select>
                        </div>
                <div class="col-sm-12 col-md-4 col-lg-3 my-3 item">
                    <input class="form-control" type="search" placeholder="Search" aria-label="Search"  #input [(ngModel)]="searchString" (keydown.enter)="applyFilter()">

                </div>
                 <div class="col-lg-1 col-sm-12 col-md-12 col-12 my-3 admin-search-by">
                            <div class="add_button text-end">
                                <button mat-raised-button class="bg-greendark text-light" (click)="applyFilter()"><mat-icon>search</mat-icon> Search</button>
                            </div>
                </div>
               
                <div class="col-lg-1 col-sm-12 col-md-12 col-12 my-3 admin-search-by" *ngIf="shouldShowDownloadButton()">
                    <button mat-icon-button (click)="downloadExcel()">
                        <mat-icon class="filter" [ngClass]="{'applied-filter': isFilterApplied}" #tooltip="matTooltip" matTooltipClass="bg-light text-dark border border-info" matTooltip="Download"
                        matTooltipPosition="above">cloud_download</mat-icon>
                    </button>
                </div>
            </div>
        </div>
        <!-- <div class="col-lg-2 col-sm-12 col-md-12 col-12 my-3" *ngIf="hasUserRole('Admin') && (!hasUserRole('View User') || loggedUserTypeCheck===1)">
            <div class="add_button text-end">
                <button mat-raised-button [routerLink]="['/main/admin/add-user-tabs']" routerLinkActive="active" class="bg-greendark text-light"><mat-icon>add</mat-icon> ADD
            USER</button>
            </div>
        </div> -->
    </div>
</div>
        <!-- table section -->
        <div class="col-sm-12 table_pddng">
            <mat-card>
                <mat-card-content class="example-container" id='table_hght'>
                    <div class=" dashboard_sticky_container"> 
                
                        <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)" class="mat-elevation-z8"
                        cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event)">
                      
                        <ng-container matColumnDef="name">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                          <td mat-cell *matCellDef="let element" class="admin-column-name">
                            <span matTooltip="{{ element.name }}" matTooltipClass="custom-tooltip-reports">
                                {{ element.name?.length > 20 ? (element.name | slice:0:20) + '...' : element.name }}
                            </span>
                          </td>
                        </ng-container>
                      
                        <ng-container matColumnDef="phone" >
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone</th>
                          <td mat-cell *matCellDef="let element" class="phone-cell">{{element.phone | phoneMask}}</td>
                        </ng-container>
                      
                        <ng-container matColumnDef="emailAddress">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
                          <td mat-cell *matCellDef="let element" class="email-cell">{{element.emailAddress}}</td>
                        </ng-container>
                      
                        <ng-container matColumnDef="backgroundCheckStatus">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>Background Check Status</th>
                          <td mat-cell *matCellDef="let element">{{element.backgroundCheckStatus}}</td>
                        </ng-container>
                      
                        <ng-container matColumnDef="fieldAdjusterContract">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>Field Adjuster Contract</th>
                          <td mat-cell *matCellDef="let element">{{element.fieldAdjusterContract}}</td>
                        </ng-container>
                      
                        <ng-container matColumnDef="deskAdjusterContract">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>Desk Adjuster Contract</th>
                          <td mat-cell *matCellDef="let element">{{element.deskAdjusterContract}}</td>
                        </ng-container>
                      
                        <ng-container matColumnDef="supervisorContract">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>Supervisor Contract</th>
                          <td mat-cell *matCellDef="let element">{{element.supervisorContract}} <mat-icon>dropdown_arrow</mat-icon></td>
                        </ng-container>
                      
                        <ng-container matColumnDef="payrollStatus">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>Payroll Status</th>
                          <td mat-cell *matCellDef="let element">{{element.payrollStatus}} <mat-icon>dropdown_arrow</mat-icon></td>
                        </ng-container>
                      
                        <ng-container matColumnDef="adminContract">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>Admin Contract</th>
                          <td mat-cell *matCellDef="let element">{{element.adminContract}} <mat-icon>dropdown_arrow</mat-icon></td>
                        </ng-container>
                      
                        <ng-container matColumnDef="action" stickyEnd>
                          <th mat-header-cell *matHeaderCellDef class="align-items-center">Action</th>
                          <td mat-cell *matCellDef="let element">
                            <div class="d-flex align-items-center justify-content-start icon_fs">
                              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Actions">
                                <mat-icon>more_vert</mat-icon>
                              </button>
                              <mat-menu #menu="matMenu">
                                <div *ngIf="!isView">
                                  <button mat-menu-item (click)="editUser(element)">
                                      <mat-icon>create</mat-icon>
                                      <span>Edit User</span>
                                  </button>
                                  <button mat-menu-item (click)="viewProfile(element)">
                                      <mat-icon>remove_red_eye</mat-icon>
                                      <span>View User</span>
                                  </button>
                                  <button mat-menu-item (click)="deleteUser(element)">
                                      <mat-icon>delete</mat-icon>
                                      <span>Delete User</span>
                                  </button>
                                  <button mat-menu-item (click)="openDialogeChangeResetPass(element)">
                                      <mat-icon>vpn_key</mat-icon>
                                      <span>Update or Reset Password</span>
                                  </button>
                                  <button mat-menu-item (click)="lockProfile(element)"
                                          *ngIf="element.failedLoginStatus== 'Unlocked' && element.userId != LoggeduserId">
                                      <mat-icon [ngClass]="{'green': element.failedLoginStatus == 'Unlocked'}">lock</mat-icon>
                                      <span>Click to lock</span>
                                  </button>
                                  <button mat-menu-item (click)="unlockProfile(element)"
                                          *ngIf="element.failedLoginStatus== 'Locked'">
                                      <mat-icon [ngClass]="{'red': element.failedLoginStatus == 'Locked'}">lock_open</mat-icon>
                                      <span>Click to unlock</span>
                                  </button>
                                 </div>
                                 <div *ngIf="isView">
                                  <button mat-menu-item *ngIf="isEditable(element.roleCsv)"  (click)="editUser(element)">
                                      <mat-icon>create</mat-icon>
                                      <span>Edit User</span>
                                  </button>
                                  <button mat-menu-item (click)="viewProfile(element)">
                                      <mat-icon>remove_red_eye</mat-icon>
                                      <span>View User</span>
                                  </button>
                                 </div>
                              </mat-menu>
                            </div>
                          </td>
                        </ng-container>
                      
                        <tr mat-header-row *matHeaderRowDef="displayedColumns" sticky></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></tr>
                      
                        <tr class="mat-row" *matNoDataRow>
                          <td class="mat-cell" colspan="10">No data available</td>
                        </tr>
                      </table>
                      
                    </div>
                </mat-card-content>
                <mat-paginator #paginator stickyEnd [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]"   [length]="totalData" aria-label="Select page of users"></mat-paginator>
            </mat-card>
        </div>
    </div>
</div>
