<div class="container-fluid-lg bg-opprtunity py-3">
  <div class="row">
    <div class="col-sm-12">
      <div class="row align-items-center">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12 align-items-center">
          <div class="row">
            <div class="row dashboard_heading col-sm-6 col-md-4 col-lg-8">
              <h3>Survey Response - {{ responseTitle }}</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- table section -->
  <div class="row">
    <div class="col-sm-12 table_pddng">
      <mat-card>
        <mat-card-content class="example-container">
          <kendo-grid #grid appGridEdgeAutoScroll
                      [resizable]="true"
                      [data]="gridData"
                      [filter]="filter"
                      filterable="menu"
                      [pageable]="true"
                      [pageSize]="pageSize"
                      [skip]="skip"
                      [columnMenu]="{ columnChooser: false }"
                      [reorderable]="true"
                      (pageChange)="pageChange($event)"
                      (columnVisibilityChange)="onColumnVisibilityChange($event)"
                      [pageable]="{
                        buttonCount: buttonCount,
                        info: info,
                        pageSizes: pageSizes,
                        previousNext: previousNext
                      }"
                      (filterChange)="filterChange($event)"
                      (columnReorder)="onColumnReorder($event)"
                      >
            <ng-template kendoGridToolbarTemplate>
              <div class="row w-100">
                <div class="col d-flex justify-content-start">
                  <button type="button" class="btn btn-clear" (click)="clearAllFilters()">Clear Filters</button>
                  <!-- <button mat-raised-button class="ml-2" (click)="openCustomizeViewDialog()" *ngIf="(loggedUserRoleCheck === 1 || loggedUserRoleCheck === 2) || (loggedUserRoleCheck === 3 && loggedUserTypeCheck === 1)">
                    Customize View
                  </button> -->
                  <button mat-button [matMenuTriggerFor]="savedViewsMenu" *ngIf="savedGridStates.length > 0 && ((loggedUserRoleCheck === 1 || loggedUserRoleCheck === 2) || (loggedUserRoleCheck === 3 && loggedUserTypeCheck === 1))" class="dropdown-button ml-2">
                    <span *ngIf="!selectedView">Saved Views</span>
                    <span *ngIf="selectedView">{{ selectedView.name }}</span>
                    <mat-icon>arrow_drop_down</mat-icon>
                  </button>
                  <mat-menu #savedViewsMenu="matMenu" class="saved-views-menu">
                    <button mat-menu-item *ngFor="let state of savedGridStates" 
                            (click)="applyGridState(state)" class="view-menu-item">
                      <span>{{ getTruncatedViewName(state.name) }}</span>
                      <!-- preview button -->
                     <!-- preview button -->
                     <button mat-icon-button class="preview-btn"  *ngIf="loggedUserRoleCheck !== 3"
                     (click)="$event.stopPropagation(); previewGridState(state)">
                     <mat-icon class="theam-color">visibility</mat-icon>
                     </button>
                     <!-- <button mat-icon-button class="edit-btn"  *ngIf="loggedUserRoleCheck !== 3"
                     (click)="applyGridState(state)">
                     <mat-icon class="theam-color">edit</mat-icon>
                     </button> -->

                      <button mat-icon-button class="delete-btn"  *ngIf="loggedUserRoleCheck !== 3"
                              (click)="$event.stopPropagation(); deleteGridState(state.id)">
                        <mat-icon>delete</mat-icon>
                      </button>
                     
                    </button>
                  </mat-menu>
                </div>
                <div class="col d-flex justify-content-end">
                  <div class="mr-2" *ngIf="loggedUserRoleCheck !== 3 && hasGridChanges">
                    <button mat-raised-button class="bg-greendark text-light" (click)="openSaveStateDialog()">
                      <mat-icon>check</mat-icon>
                      <span *ngIf="!selectedView">Save View</span>
                      <span *ngIf="selectedView">Update View</span>
                    </button>
                  </div>
                  <div class="mr-2">
                    <kendo-grid-column-chooser 
                      [allowHideAll]="false">
                    </kendo-grid-column-chooser>
                  </div>
                  <div class="mr-2">
                    <button type="button" kendoGridExcelCommand [svgIcon]="fileExcelIcon">
                      Export to Excel
                    </button>
                    <kendo-grid-excel [fileName]="'SurveyResponses.xlsx'" [fetchData]="fetchAllData"></kendo-grid-excel>
                  </div>
                </div>
              </div>
            </ng-template>
            <kendo-grid-column  *ngFor="let column of allColumns; trackBy: trackByField" [field]="column.field" [includeInChooser]="IsIncluded(column.field)" [title]="column.title" [hidden]="column.hidden">
              <ng-template kendoGridCellTemplate let-dataItem>
                {{ getSafeFieldValue(dataItem, column.field) }}
              </ng-template>
              <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter" let-filterService="filterService">
                <kendo-multiselect
                  [checkboxes]="true"
                  [data]="(filteredDistinctValues[column.field] || distinctValues[column.field]) || []"
                  [(ngModel)]="selectedFilters[column.field]"
                  [valuePrimitive]="true"
                  [filterable]="true"
                  (filterChange)="filterDistinct($event, column.field)"
                  (blur)="onMuiltiSelectBlur(column.field)"
                  (valueChange)="onMultiSelectFilterChange($event, column.field, filterService)">
                </kendo-multiselect>
              </ng-template>
            </kendo-grid-column>
            <ng-template kendoGridNoRecordsTemplate>
              <div class="text-center" *ngIf="!loading && !gridData.data.length">
                <h3>No Data Available</h3>
              </div>
              <div class="text-center" *ngIf="loading">
                <h3>Loading...</h3>
              </div>
            </ng-template>
          </kendo-grid>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<!-- Save View Dialog -->
<div class="modal fade custom-modal" [class.show]="showSaveDialog" [style.display]="showSaveDialog ? 'block' : 'none'" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" *ngIf="!selectedView">Save View</h5>
        <h5 class="modal-title" *ngIf="selectedView">Update View</h5>
        <button mat-raised-button class="close" (click)="cancelSaveState()">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label class="custom-label">Custom View</label>
          <input type="text" class="form-control custom-input" [(ngModel)]="newStateName" placeholder="Enter Name" *ngIf="!selectedView" [maxlength]="40">
          <input type="text" class="form-control custom-input" [(ngModel)]="selectedView.name" placeholder="Enter Name" *ngIf="selectedView" [disabled]="true" [maxlength]="40">
          
        </div>
      </div>
      <div class="modal-footer">
        <button mat-raised-button class="btn-cancel mr-2" (click)="cancelSaveState()">Cancel</button>
        <button mat-raised-button class="bg-greendark text-light" (click)="saveGridState()">
          <span *ngIf="!selectedView">Save</span>
          <span *ngIf="selectedView">Update</span>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="modal-backdrop fade" [class.show]="showSaveDialog" *ngIf="showSaveDialog"></div>
