<div class="nxe-menu-container">
    <div class="nxe-menu-barleft">
        <div class="back-container">
            <button href="#" class="back-button" (click)="backBtn()">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16" fill="currentColor">
                    <path fill-rule="evenodd"
                        d="M15 8a.75.75 0 0 1-.75.75H2.56l4.22 4.22a.75.75 0 0 1-1.06 1.06l-5.5-5.5a.75.75 0 0 1 0-1.06l5.5-5.5a.75.75 0 0 1 1.06 1.06L2.56 7.25h11.69A.75.75 0 0 1 15 8z" />
                </svg>
                Back
            </button>
            <div class="separator"></div>
            <div class="page-title">{{title}}</div>
        </div>
    </div>
    <div class="nxe-menu-bar">
        <div class="nxe-menu-bar-left">    
            <!-- <button class="nxe-menu-bar-button" (click)="createFolder()"><i class="nxe-folder" aria-hidden="true"></i>New Folder</button>
            <button class="nxe-menu-bar-button" (click)="refresh()"><i class="nxe-arrows-cw" aria-hidden="true"></i> Refresh</button>
            <button class="nxe-menu-bar-button" (click)="openUploader()"><i class="nxe-upload" aria-hidden="true"></i> Upload</button> -->
            <button class="nxe-menu-bar-button" *ngIf="manageDownloads" (click)="manageDownloadAble()">
                <i  [ngClass]="{'nxe-download': buttonLable === 'Manage Downloads', 'nxe-resource': buttonLable === 'Back to Resources'}" aria-hidden="true"></i> 
                {{buttonLable}}
            </button>
            <!-- <button class="nxe-menu-bar-button" [hidden]="!canDownload" (click)="download()"><i class="nxe-download" aria-hidden="true"></i> Download</button> -->
            <!-- <button class="nxe-menu-bar-button" [hidden]="!canRename" (click)="rename()"><i class="nxe-edit" aria-hidden="true"></i> Rename</button>
            <button class="nxe-menu-bar-button" [hidden]="!canDelete" (click)="remove()"><i class="nxe-trash-empty" aria-hidden="true"></i> Delete</button>
            <button class="nxe-menu-bar-button" [hidden]="!canOpen" (click)="open()"><i class="nxe-open" aria-hidden="true"></i> Open</button>
            <button class="nxe-menu-bar-button" [hidden]="!canShare" (click)="share()"><i class="nxe-share" aria-hidden="true"></i> Share</button> -->
        </div>
        <!-- <div class="search-container">
            
            <button class="filter-btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-funnel"
                    viewBox="0 0 16 16">
                    <path
                        d="M1.5 1.5a.5.5 0 0 0-.418.777L5.485 8.5v4.711a1 1 0 0 0 .553.894l2 1A1 1 0 0 0 9.5 14.5V8.5l4.403-6.223a.5.5 0 0 0-.418-.777h-12z" />
                </svg>
                Filter
            </button>
        </div> -->
        <!-- <div class="searchbar-container">
            <div class="search-group">
                <div class="search-input-wrapper rd">
                    <input type="text" class="form-control search-input" placeholder="Search" />
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gray"
                        class="bi bi-search search-icon" viewBox="0 0 16 16">
                        <path
                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85zm-5.442 1.318a5.5 5.5 0 1 1 0-11 5.5 5.5 0 0 1 0 11z" />
                    </svg>
                </div>
                <button class="filter-btn" type="button">

                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-filter filter-icon" viewBox="0 0 16 16">
                        <path d="M6 10.5v5l4-2v-3l5-7V1H1v2.5l5 7zm1-1.65l-4-5.6V2h10v1.25l-4 5.6V13l-2 1v-4.15z" />
                    </svg>
                    Filter
                </button>
            </div>
        </div> -->
        <div class="nxe-menu-bar-right">
            <app-filter></app-filter> 
        </div>
        <div class="nxe-menu-bar-right">
            <app-view-switcher></app-view-switcher>
        </div>
        <!-- <input style="display: none" type="file" multiple (change)="handleFiles($event)" #uploader> -->
    </div>
</div>