
<kendo-chart style="height: 280px;" class="transparent-chart" [chartArea]="{ background: 'none' }" (seriesClick)="onSeriesClick($event)" (legendItemClick)="onLegendItemClick($event)">
    <kendo-chart-series>
      <kendo-chart-series-item
        type="donut"
        [data]="data2"
        categoryField="Status"
        field="Count"
        [visible]="true"
        [holeSize]="200"
        [autoFit]="true"
        [overlay]="{ gradient: 'roundedBevel' }"
      >
        <kendo-chart-series-item-labels
          [content]="labelContent"
          [position]="'center'"
          [color]="'#fff'"
          [background]="'none'"
          [visible]="true"
          [align]="'center'"
          [format]="'{0}%'"
          [font]="'bold 16px Arial,Helvetica,sans-serif'"

          [padding]="{ top: 0, bottom: 0, left: 0, right: 0 }"
        >
        </kendo-chart-series-item-labels>
      </kendo-chart-series-item>
    </kendo-chart-series>
    <kendo-chart-legend [visible]="true"></kendo-chart-legend>
    <kendo-chart-tooltip [visible]="true" [format]="'{0}%'" ></kendo-chart-tooltip>
    <kendo-chart-axis-defaults></kendo-chart-axis-defaults>
  </kendo-chart>