.nxe-breadcrumbs {
        display: flex;
        justify-content: space-between;
    .nxe-breadcrumb-button {
        cursor: pointer;
        padding: 5px 5px;
        border-radius: 5px;
        background: transparent;
        border: 0;
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;

        mat-icon {
           display: flex;
            font-size: 1.2em; /* Adjust the size if needed */
        }

        &:hover {
            background-color: #d7edff;
        }
    }
        .nxe-breadcrumb-save {
            .save-button {
                display: inline-flex;
                align-items: center;
                padding: 7px 15px;
                font-size: 16px;
                color: #fff;
                background-color: #ffa022;
                border: none;
                border-radius: 5px;
                text-decoration: none;
                transition: all 0.3s ease;
            }
        }
}
