
  <div class="maintenance-page">
    <div class="header-logo">
      <div class="logo-container">
        <img src="../../assets/assets/image/FPD Solutions Logo.png" alt="MyFPD Portal Logo" class="logo">
       
      </div>
    </div>
    <main class="content">
      <div class="text-container">
        <h2 class="title">Application Under</h2><h2 class="title"> Maintenance</h2>
        <p class="subtitle">We're improving your experience! Please check back shortly.</p>
      </div>
      <div class="illustration-container">
        <img src="../../assets/assets/image/Illustration.svg" alt="Maintenance Illustration" class="illustration">
      </div>
    </main>
  </div>

