<div class="container-fluid history-info-container">
    <form [formGroup]="additionalInfoForm">
        <div class="row">
            <div class="col-sm-12 mb-3"></div>
            <div class="col-sm-12 mb-3">
                <p> <span class="dst_info"> <mat-icon>info</mat-icon></span> This section helps us match you with claims
                    based on your expertise. If you're matched with an assignment, usually a team member will contact
                    you to confirm that your expertise matches
                    your profile...so be honest!
                    <br>
                    <b><em>Does this seem like a lot of questions? Only fill out the skills and work history related to
                            claims that you want to be matched with.</em></b>
                </p>
            </div>
            <mat-divider></mat-divider>
            <div class="col-sm-12 mb-3"></div>
            <div class=" col-sm-4 mb-3">
                <mat-label class="fnt">Approximate date I began adjusting.
                </mat-label>
                <div class="d-flex frm_dt">
                    <input formControlName="approximate_Date_I_Began_Adjusting" [matDatepicker]="basicDatepicker" class="form-date fs"
                        placeholder="MM/DD/YYYY" matTooltip="Enter date in MM/DD/YYYY format"
                        [ngClass]="{'danger':submit && additionalInfoForm.get('approximate_Date_I_Began_Adjusting')?.invalid}" (keydown)="$event.preventDefault()">
                    <mat-datepicker-toggle [for]="basicDatepicker"></mat-datepicker-toggle>
                    <mat-datepicker #basicDatepicker></mat-datepicker>
                </div>
                <div *ngIf="additionalInfoForm.controls['approximate_Date_I_Began_Adjusting'].invalid && 
                                (additionalInfoForm.controls['approximate_Date_I_Began_Adjusting'].dirty || 
                                 additionalInfoForm.controls['approximate_Date_I_Began_Adjusting'].touched)"
                    class="alert alert-danger">
                    <div *ngIf="additionalInfoForm.get('approximate_Date_I_Began_Adjusting')?.hasError('invalidDateFormat')">
                        Invalid date format.
                    </div>
                    <div *ngIf="additionalInfoForm.get('approximate_Date_I_Began_Adjusting')?.hasError('futureDate')">
                        The date you enter must be a past date!
                    </div>
                    <div *ngIf="additionalInfoForm.get('approximate_Date_I_Began_Adjusting')?.hasError('dateRange')">
                        Date should be between 01/01/1950 to {{today|date:'MM/dd/yyyy'}}
                    </div>

    </div>
            </div>
            <div class="col-sm-4 mb-3">
                <mat-label class="fnt">Largest claim I've handled.</mat-label>
                <input formControlName="largest_Claim_I_Have_Handled" type="number" class="form-control fs"
                    placeholder="Largest Claim" (keydown)="restrictEnteringE($event)" maxlength="8"
                    oninput="javascript: if (this.value.length > this.maxLength) {this.value = this.value.slice(0, this.maxLength);}"
                    [ngClass]="{'danger':submit && additionalInfoForm.get('largest_Claim_I_Have_Handled')?.invalid}">
            </div>
            <div class="col-sm-4 mb-3">
                <mat-label class="fnt">XactNet Address</mat-label>
                <input formControlName="xactNetAddressSkill" type="text" class="form-control fs" placeholder="XactNet Address">
        </div>
            <div class="col-sm-4 mb-3">
                    <mat-label class="fnt mendatory-field">Location Preference</mat-label>
                    <mat-form-field class="addin-field"appearance="outline" [hideRequiredMarker]="true" [ngClass]="{'danger':submit && additionalInfoForm.get('location_Preference')?.invalid}">
                        <mat-select formControlName="location_Preference" multiple placeholder="Select">
                            <mat-option *ngFor="let option of Location_PreferenceOptions" [value]="option"> {{ option }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
            </div>
            <!-- <div class="col-sm-4 mb-3"></div> -->
            <div class="col-sm-4 mb-3">
                <mat-label class="fnt">I have file review experience.</mat-label><br>
                <mat-radio-group formControlName="file_Review_Experience" class="boxes">
                    <mat-radio-button value="true">Yes</mat-radio-button>
                    <mat-radio-button value="false">No</mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="col-sm-4 mb-3">
                <mat-label class="fnt"> I have experience writing denial/coverage letters/ROR.
                </mat-label><br>
                <mat-radio-group formControlName="writing_Denial_Or_Coverage_Letters" class="boxes">
                    <mat-radio-button value="true">Yes</mat-radio-button>
                    <mat-radio-button value="false">No</mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="col-sm-4 mb-3">
                <mat-label class="fnt">I have experience working with public adjusters.</mat-label><br>
                <mat-radio-group formControlName="experience_With_PAs" class="boxes">
                    <mat-radio-button value="true">Yes</mat-radio-button>
                    <mat-radio-button value="false">No</mat-radio-button>
                </mat-radio-group>
            </div>
            <!-- <div class="col-sm-12 mb-3"></div> -->
            <div class="col-sm-4 mb-3">
                <mat-label class="fnt">I have experience with assignment of benefits (AOB).
                </mat-label><br>
                <mat-radio-group formControlName="experience_With_AOB" class="boxes">
                    <mat-radio-button value="true">Yes</mat-radio-button>
                    <mat-radio-button value="false">No</mat-radio-button>
                </mat-radio-group>
            </div>
            <!-- <div class="col-sm-4 mb-3">
                <mat-label class="fnt"> I have experience handling contents losses.</mat-label><br>
                <mat-radio-group formControlName="content_Loss" class="boxes">
                    <mat-radio-button value="yes">Yes</mat-radio-button>
                    <mat-radio-button value="no">No</mat-radio-button>
                </mat-radio-group>
            </div> -->
            <div class="col-sm-4 mb-3">
                <mat-label class="fnt">I am fluent in Spanish.</mat-label><br>
                <mat-radio-group formControlName="fluent_In_Spanish" class="boxes">
                    <mat-radio-button value="true">Yes</mat-radio-button>
                    <mat-radio-button value="false">No</mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="col-sm-12 mb-3"></div>
            <div class="col-sm-4 mb-3 min_ht">
                <mat-label class="fnt"> Please describe what sets you apart from other adjusters:
                </mat-label>
                <!-- <input formControlName="what_Sets_You_Apart_From_Other_Adjusters" type="text" class="form-control fs" placeholder="In one sentence, please describe what sets you apart from other adjusters:"> -->
                <textarea name="" formControlName="what_Sets_You_Apart_From_Other_Adjusters" id="" cols="20"
                    class="form-control"></textarea>
            </div>
            <div class="col-sm-4 mb-3 min_ht">
                <mat-label class="fnt">Please list Independent adjusting firms you've worked for:</mat-label>
                <!-- <input formControlName="iA_Firms_I_Have_Worked_With" type="text" class="form-control fs"
                    placeholder="Please list Independent adjusting firms you've worked for:"> -->
                <textarea name="" formControlName="iA_Firms_I_Have_Worked_With" id="" cols="20"
                    class="form-control"></textarea>
            </div>
            <div class="col-sm-4 mb-3 min_ht">
                <mat-label class="fnt"> Please list carriers you're worked claims for:
                </mat-label>
                <!-- <input formControlName="carriers_You_Have_Worked_For" type="text" class="form-control fs"
                    placeholder="Please list carriers you're worked claims for:"> -->
                <textarea name="" formControlName="carriers_You_Have_Worked_For" id="" cols="20"
                    class="form-control"></textarea>
            </div>
            <div class="col-sm-12 mb-3"></div>


            <!-- <mat-divider></mat-divider> -->
            <mat-divider></mat-divider>
            <div class="col-sm-12 mb-3"></div>
            <div class="col-sm-12 mb-3"></div>
            <div class="col-sm-12 text-center">
                <mat-label class="lg_fnt expr">
                    Experience
                </mat-label>
            </div>
            <div class="col-sm-12 mb-3"></div>
            <div class="col-sm-12 mb-3 rht">
                <table>
                    <thead id="1">
                        <tr>
                            <th></th>
                            <th *ngFor="let option of OptionList1">{{ option }}</th>
                        </tr>
                    </thead>
                    <div class="line"></div>
                    <tbody>
                        <tr *ngFor="let question of QuestionsExperience; let i = index">
                            <td> <span [class.mendatory-field]="isLastAsterisk(question.label)">
                                    {{ getLabel(question.label) }}</span>
                            </td>
                            <td *ngFor="let option of OptionList1; let j = index" style="text-align: center;">
                                <input type="radio" id="radio-{{i}}-{{j}}" (keydown)="onKeyDown($event, i, j)"
                                    [formControlName]="getControlName(QuestionsExperience, i)" [value]="option">
                                <!-- <mat-radio-group class="cnt_inf">
                                    <mat-radio-button value="true">Yes</mat-radio-button>
                                    <mat-radio-button value="false">No</mat-radio-button>
                                </mat-radio-group> -->
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-12 mb-3"></div>
            <div class="col-sm-12 mb-3 text-center">
                <mat-label class="lg_fnt expr">Specialties (Select all that apply)
                </mat-label>
            </div>
            <div class="col-sm-12 mb-3"></div>
            <div class="col-sm-12 mb-3 rht">
                <table>
                    <thead id="2">
                        <tr>
                            <th></th>
                            <th *ngFor="let option of OptionList1">{{ option }}</th>
                        </tr>
                    </thead>
                    <div class="line"></div>
                    <tbody>
                        <tr *ngFor="let question of QuestionsSpecialties; let i = index">
                            <td><span [class.mendatory-field]="isLastAsterisk(question.label)">
                                    {{ getLabel(question.label) }}</span>
                            </td>
                            <td *ngFor="let option of OptionList1; let j = index" style="text-align: center;">
                                <input type="radio" id="radio-{{i}}-{{j}}" (keydown)="onKeyDown($event, i, j)"
                                    [formControlName]="getControlName(QuestionsSpecialties, i)" [value]="option">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-12 mb-3"></div>
            <div class="col-sm-12 mb-3 text-center">
                <mat-label class="lg_fnt expr">Property Specialties (Select all that apply)
                </mat-label>
            </div>
            <div class="col-sm-12 mb-3"></div>
            <div class="col-sm-12 mb-3 rht">
                <table>
                    <thead id="3">
                        <tr>
                            <th></th>
                            <th *ngFor="let option of OptionList1">{{ option }}</th>
                        </tr>
                    </thead>
                    <div class="line"></div>
                    <tbody>
                        <tr *ngFor="let question of QuestionsPropertySpe; let i = index">
                            <td><span [class.mendatory-field]="isLastAsterisk(question.label)">
                                    {{ getLabel(question.label) }}</span>
                            </td>
                            <td *ngFor="let option of OptionList1; let j = index" style="text-align: center;">
                                <input type="radio" id="radio-{{i}}-{{j}}" (keydown)="onKeyDown($event, i, j)"
                                    [formControlName]="getControlName(QuestionsPropertySpe, i)" [value]="option">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-12 mb-3"></div>
            <div class="col-sm-12 text-center mb-3">
                <mat-label class="lg_fnt expr">Software Knowledge
                </mat-label>
            </div>
            <div class="col-sm-12 mb-3"></div>
            <div class="col-sm-12 mb-3 rht">
                <table>
                    <thead id="4">
                        <tr>
                            <th></th>
                            <th *ngFor="let option of OptionList2">{{ option }}</th>
                        </tr>
                    </thead>
                    <div class="line"></div>
                    <tbody>
                        <tr *ngFor="let question of QuestionsSoftwareKnow; let i = index">
                            <td><span [class.mendatory-field]="isLastAsterisk(question.label)">
                                    {{ getLabel(question.label) }}</span>
                            </td>
                            <td *ngFor="let option of OptionList2; let j = index" style="text-align: center;">
                                <input type="radio" id="radio-{{i}}-{{j}}" (keydown)="onKeyDown($event, i, j)"
                                    [formControlName]="getControlName(QuestionsSoftwareKnow, i)" [value]="option">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-12 mb-3"></div>
            <div class="col-sm-12 mb-3"></div>
            <mat-divider></mat-divider>
            <div class="col-sm-12 mb-3"></div>
            <div class="col-sm-4 mb-3 resme_uplod">
                <mat-label for="pdf" class="fnt"> Resume </mat-label><br>
                <mat-icon class="mat-icon" *ngIf="isResume" style="cursor: pointer;"
                    (click)="downloadPDF(additionalInfoForm.controls['resume'].value,UplodedfileName)">cloud_download
                </mat-icon>
                <mat-form-field class="addin-field">
                    <span class="filename"> {{UplodedfileName}}</span>
                    <mat-toolbar>
                        <input matInput readonly name="name" />
                        <button mat-raised-button class="rgster">
                            <i class="fas fa-arrow-up-from-bracket me-3"></i> Upload</button>

                    </mat-toolbar>
                    <input type="file" #fileInput id="uploadFile" (change)="onFileSelected($event)" name="uploadFile"
                        accept=".pdf , .docx , .doc" />
                </mat-form-field>
            </div>
            <div class="col-sm-8 mb-3 min_ht">
                <mat-label class="fnt">Bio or Mini Resume</mat-label>
                <textarea name="" formControlName="bio_Or_Mini_Resume" id="" cols="10" class="form-control"
                    [ngClass]="{'danger':submit && additionalInfoForm.get('bio_Or_Mini_Resume')?.invalid}"></textarea>
            </div>
        </div>
    </form>
</div>