<div class="container">
    <div class="row">
        <div class="d-flex justify-content-between align-items-center ds-form" style="height:57px;padding:0 3rem;">
            <h5 style="font-weight:501;margin-bottom:0;font-size:15px;">Request Details</h5>
            <div class="clse">
                <button mat-button [mat-dialog-close]="true">
                    <mat-icon (click)="onClose()" #tooltip="matTooltip" matTooltipClass="bg-light text-dark border border-info" matTooltip="Close" matTooltipPosition="above">clear</mat-icon>
                </button>
            </div>
        </div>
        <mat-divider></mat-divider>
        <form [formGroup]="requestForm" (ngSubmit)="onSubmit()" class="example-form" style="padding:1rem 3rem;">
            <div class="mb-3 row-cols-auto">
                <label for="formcontrolinput" class="form-label fs mendatory-field">Title</label>
                <input formControlName="title" type="name" class="form-control fs" placeholder="Title" required>
                <div *ngIf="isControlInvalid('title')" class="error-message">Title is required.</div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-6">
                    <label class="form-label fs mendatory-field">Client</label>
                    <label class="visually-hidden fs" for="inlineFormSelectPref"></label>
                    <select formControlName="client" class="selection">
                      <option disabled>Select Client</option>
                      <option *ngFor="let client of clients" [value]="client.clientId">{{client.fullName}}</option>
                      </select>
                    <div *ngIf="isControlInvalid('client')" class="error-message">Client is required.</div>
                </div>
                <div class="col-sm-6">
                    <label class="form-label fs mendatory-field">Assignment Type</label>
                    <label class="visually-hidden fs" for="inlineFormSelectPref"></label>
                    <select formControlName="assignmentType" class="selection">
          <option disabled>Select Assignment Type</option>
          <option *ngFor="let assessments of assessment" [value]="assessments.assessmentType">{{assessments.assessmentType}}</option>
            </select>
                    <div *ngIf="isControlInvalid('assignmentType')" class="error-message">Assignment Type is required.</div>
                </div>
            </div>
            <div class="row mb-3">
                <div class=" col-sm-6">
                    <label class="form-label fs mendatory-field">Inspection to be completed By</label>
                    <div class="d-flex frm_dt">
                        <input formControlName="requestDate" [min]="minDate" [matDatepicker]="basicDatepicker" class="form-date fs" placeholder="Select Date">
                        <mat-datepicker-toggle [for]="basicDatepicker"></mat-datepicker-toggle>
                        <mat-datepicker #basicDatepicker></mat-datepicker>
                    </div>
                    <div *ngIf="isControlInvalid('requestDate')" class="error-message">Date is required.</div>
                </div>
                <div class="col-sm-6">
                    <label class="fs mendatory-field">Claim Type</label>
                    <div aria-label="Select an option" class="dte">
                        <mat-radio-group formControlName="isSingleClaim">
                            <mat-radio-button [value]="true">Single Claim</mat-radio-button>
                            <mat-radio-button [value]="false">Multiple Claims</mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <div *ngIf="isControlInvalid('isSingleClaim')" class="error-message">Claim Type is required.</div>
                </div>
            </div>
            <div class="mb-3 col-12">
                <label class="fs mendatory-field">Description</label>
                <a #tooltip="matTooltip" matTooltipClass="" matTooltip="This description will be sent to the Adjuster and can also be viewed in the dashboard by clicking on the title." matTooltipPosition="right">
                    <span class="init_button"> <mat-icon>info</mat-icon></span>
                </a>
                <textarea formControlName="description" name="nm" class="fs form-control" cols="10" rows="5" placeholder="Assignment Description"></textarea>
                <div *ngIf="isControlInvalid('description')" class="error-message">description is required.</div>
            </div>
            <div class="button_group d-flex justify-content-between">
                <button *ngIf="isViewState" type="button" mat-raised-button class="grn-dark" (click)="viewAdjusterInfo()">View Adjuster Info</button>
                <button *ngIf="!isViewState" type="button" mat-raised-button class="out_grn-dark" (click)="clearForm()">Clear</button>
                <button *ngIf="isViewState" type="button" mat-raised-button class="out_grn-dark" (click)="onClose()">Cancel</button>
                <button *ngIf="!isViewState" type="submit" mat-raised-button class="grn-dark">Submit Request</button>
            </div>
            <div class="col-sm-12 mb-3"></div>
        </form>
    </div>
</div>