 .submission .cdk-overlay-dark-backdrop {
     background: rgba(0, 0, 0, .32);
 }
 
 // ..............................................................
 .dclne h2 {
     color: #373a3e;
     letter-spacing: .4px;
     font-size: 23px;
     margin-bottom: 0;
     box-sizing: border-box;
     padding: .5rem;
     border-bottom: 4px solid #ffa022;
 }
 
 .sub_recevied {
     padding: 90px 30px 30px;
 }
 
 .sub_recevied p {
     font-size: 14px;
     color: #373a3e;
     letter-spacing: .4px;
     margin-top: .5rem;
     margin-bottom: .5rem;
 }