.locate-img {
    width: 40px;
}

// .limitTextHeight {
//     height: 20px;
//     overflow: hidden;
//     padding: 3px 35px 4px 2px;
// }
.discrt {
    color: #ffa022;
}

.read-more-state {
    display: none;
}

.read-more-target {
    opacity: 0;
    max-height: 0;
    font-size: 0;
    transition: .25s ease;
}

.read-more-state:checked~.read-more-wrap .read-more-target {
    opacity: 1;
    font-size: inherit;
    max-height: 999em;
}

.read-more-wrap {
    margin-right: 1rem;
}

.read-more-trigger {
    box-sizing: border-box;
    position: relative;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: none;
    border: 1px solid #00b1c3;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    min-width: 64px;
    padding: .2rem .8rem;
    border-radius: 20px;
    overflow: visible;
    transform: translate3d(0, 0, 0);
    transition: 400ms cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
}

.read-more-trigger:hover {
    background: #00b1c3;
    color: #fff;
    transition: box-shadow 0px 0 10px 4px #f1efef !important;
    transition: all .33s ease-in-out;
}

.rght_contnt {
    padding: 2rem 0;
}

// p {
//     padding: 2%;
//     background: #fff9c6;
//     color: #c7b27e;
//     border: 1px solid #fce29f;
//     border-radius: .25em;
// }
// ,...........................................................