.nxe-explorer {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    height: calc(100vh - 104px);
    overflow-y: auto;
    // padding: 0 9px;
}

// .nxe-eplorer-menu {
//     border-bottom: 1px solid #ccc;
// }
.nxe-explorer-containers {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.nxe-explorer-left-container {
    flex-basis: 16rem;
    flex-grow: 1;
    // border-right: 1px solid #ccc;
    position: relative;
    overflow-x:hidden;
    overflow-y:auto;
    background-color: #F8FAFD;
    padding:.8rem;
}

.nxe-explorer-right-container {
    display: flex;
    flex-direction: column;
    flex-basis: 0;
    flex-grow: 999;
    box-shadow: 2px 7px 9px 4px #efefef;
    padding: 0.8rem;
}

// .nxe-explorer-right-menu {
//     border-bottom: 1px solid #ccc;
// }

.nxe-explorer-right-content {
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;

}
.mat-dialog-container {
    overflow: hidden !important; 
}

.nxe-breadcrumbs .nxe-breadcrumb-button {
    font-weight:bold !important;
}