<head>
    <style>
         ::placeholder {
            color: rgb(184, 181, 181);
            opacity: 1;
            text-align: left !important;
        }
        
        mat-form-field {
             ::ng-deep .mat-option-required::after {
                display: none;
            }
        }
        
        mat-form-field ::ng-deep .mat-option-required .mat-option-pseudo-checkbox::after {
            color: transparent;
        }
    </style>
</head>
<div class="container">
    <div class="row">
        <div class="container_head col-sm-12" style="height:57px;display:flex;align-items:center;">
            <h2><img class="locate-img" src="../../../assets/assets/image/locate_img/locate3.png" alt="locate" width="47">Adjuster's Response</h2>
        </div>
        <mat-divider></mat-divider>
        <div class="example-form">
            <div class="row">
                <div class="col-sm-4 com">
                    <div class="mx-4 example_list">
                        <div class="mb-3 flx">
                            <li class="d-flex align-items-center gap-2 ">
                                <img src="../../../assets/assets/image/locate_img/client.png" alt="client" width="23">
                                <a title="Title">Title</a>
                            </li>
                            <span class="opp">{{details?.title}}</span>
                        </div>
                        <div class="mb-3 flx">
                            <li class="d-flex align-items-center gap-2">
                                <img src="../../../assets/assets/image/locate_img/assignment.png" alt="client" width="23">
                                <a title="Assignment">Assignment</a>
                            </li>
                            <span class="opp">{{details?.assignment}}</span>
                        </div>
                        <div class="mb-3 flx">
                            <li class="d-flex align-items-center gap-2">
                                <img src="../../../assets/assets/image/locate_img/sub_locate.png" alt="client" width="23">
                                <a title="Location">Location</a>
                            </li>
                            <span class="opp">{{details?.location}}</span>
                        </div>
                        <div class="mb-3 flx">
                            <li class="d-flex align-items-center gap-2">
                                <img src="../../../assets/assets/image/locate_img/description.png" alt="client" width="23">
                                <a #tooltip="matTooltip" matTooltipClass="bg-light text-dark border border-info" matTooltip=" {{details?.description}}" matTooltipPosition="right">
                                    <span style="cursor:pointer;"> Description :</span>
                                </a>
                            </li>
                            <span class="opp">{{details?.description | truncate:6}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="clse viewrequest_clse">
                        <button mat-button [mat-dialog-close]="true" #tooltip="matTooltip" matTooltipClass="bg-light text-dark border border-info" matTooltip="Close" matTooltipPosition="above">
                    <mat-icon>clear</mat-icon>
                </button>
                    </div>
                    <div class="atext-start rght_contnt mx-4 py-4" [formGroup]="acceptanceForm">
                        <div class="head-txt">
                            <h2>Interest Information :</h2>
                        </div>
                        <div class="form">
                            <div class="mb-3">
                                <mat-label for="formcontrolinput" class="fnt">Please confirm your XactNet address
                                    <span class="text-danger">*</span></mat-label>
                                <input type="text" class="form-control" formControlName="xactNetAddress" maxlength="200" [ngClass]="{'danger':acceptanceForm.get('xactNetAddress')?.invalid && (isSubmitted || acceptanceForm.get('xactNetAddress')?.touched),'nodanger':acceptanceForm.get('xactNetAddress')?.valid}"
                                    placeholder="XactNet address" required>
                            </div>

                            <div class="mb-3">
                                <mat-label for="formcontrolinput" class="fnt">If the insured/claimant is available, how quickly can you inspect the loss? <span class="text-danger">*</span></mat-label>
                                <input type="number" class="form-control" formControlName="inspectLossTime" maxlength="2" oninput="javascript: if (this.value.length > this.maxLength) {this.value = this.value.slice(0, this.maxLength);} if (this.value <= 0) this.value=''" [ngClass]="{'danger':acceptanceForm.get('inspectLossTime')?.invalid && (isSubmitted || acceptanceForm.get('inspectLossTime')?.touched),'nodanger':acceptanceForm.get('inspectLossTime')?.valid}"
                                    placeholder="How quickly (in days)" required>
                            </div>
                            <div class="mb-3">
                                <mat-label for="formcontrolinput" class="fnt">How quickly (in days) can you return the estimate once you have completed the Inspection? <span class="text-danger">*</span></mat-label>
                                <input type="number" class="form-control" formControlName="estimateReturnTime" maxlength="2" oninput="javascript: if (this.value.length > this.maxLength) {this.value = this.value.slice(0, this.maxLength);} if (this.value <= 0) this.value=''" [ngClass]="{'danger':acceptanceForm.get('estimateReturnTime')?.invalid && (isSubmitted || acceptanceForm.get('estimateReturnTime')?.touched),'nodanger':acceptanceForm.get('estimateReturnTime')?.valid}"
                                    placeholder="How quickly (in days)" required>
                            </div>
                            <div class="mb-3 min_ht">
                                <mat-label for="formcontrolinput" class="fnt">Provide Remarks (if any).</mat-label>
                                <textarea class="form-control" formControlName="remarks" placeholder="Remarks"></textarea>
                            </div>
                            <div class="mb-3">
                                <span class="text-color-red" style="font-size: 13px;" *ngIf="isSubmitted && acceptanceForm.invalid">Please fill all the required fields (marked with *)</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>