

        <span class="filter-cancel-mark" (click)="cancelAdvanceFilterForm()">
           <img src="assets/images/delete-popup.png">
        </span>
        <form [formGroup]="advanceFilterForm">
            <div class="fb_header" style="float: none; padding: 0px 7px 16px;;">
                <div class="col-lg-1 col-md-2 col-sm-3 pd_zero">
                    <div class="form-group">
                        <label class="textbox_borderlabel">Saved Filters</label>
                    </div>
                </div>
                <div class="col-sm-2 col-md-3 col-lg-2 pdlZero">
                    <div class="form-group">
                        <select (change)="changeFilter($event.target.value)"
                            class="form-control dropdown_border">
                            <option value="0">Select</option>
                            <option [selected]="parameter.advancedFilterId == SavedAdvanceFilterParameterID"
                                *ngFor="let parameter of SavedAdvanceFilterList"
                                [value]="parameter.advancedFilterId">{{parameter.filterName}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4">
                    <div class="form-group">
                        <div class="styled-checkbox">
                            <div class="checkbox">
                                <input id="defaultfilter" (change)="DefaultChecked($event.target.checked)"
                                [checked]="isDefaultChecked" name="defaultfilter" type="checkbox">
                                <label for="defaultfilter">
                                    <div class="checkercheckbox"></div>
                                    Mark it as default filter
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="fb_center">
                <div class="row pd_zero">
                    <!-- <div class="col-sm-3 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label class="textbox_borderlabel">Agency Name</label>
                            <input type="text" placeholder="Add Agency Name" formControlName="Agency"
                                class="form-control textbox_border_input">
                                <div class="display-error"></div>
                        </div>
                    </div> -->
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label class="textbox_borderlabel">Agent Name</label>
                            <input type="text"  dataTextFocus placeholder="Agent Name" formControlName="AgentName"
                                class="form-control textbox_border_input">
                                <div class="display-error"></div>
                        </div>
                    </div>
                
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label class="textbox_borderlabel">Ref #</label>
                            <input type="text" placeholder="Ref" formControlName="Ref" class="form-control textbox_border_input">
                            <div class="display-error"></div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label class="textbox_borderlabel">Insured Name</label>
                            <input type="text" placeholder="Insured Name" formControlName="InsuredName"
                                class="form-control textbox_border_input">
                                <div class="display-error"></div>
                        </div>
                    </div>
                </div>
                <div class="row pd_zero">
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label class="textbox_borderlabel">Line Of Business</label>
                            <select class="form-control dropdown_border"
                                formControlName="LOB">
                                <option value=''>Select</option>                                    
                                <option *ngFor="let lobItem of LOBList" [value]="lobItem.lob">
                                    {{lobItem.lobDescription}}</option>
                            </select>
                            <div class="display-error"></div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label class="textbox_borderlabel">Transaction Type</label>
                            <select class="form-control dropdown_border" formControlName="TransactionType">
                                <option value=''>Select</option>
                                <option *ngFor="let trans of transactionTypeList"
                                    [value]="trans.shortName">{{trans.parameterName}}</option>
                            </select>
                            <div class="display-error"></div>
                        </div>
                    </div>
                    <!-- <div class="col-sm-3 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label class="textbox_borderlabel">Business Type</label>
                            <select class="form-control dropdown_border" formControlName="BusinessType">
                                <option value=''>Select</option>
                                <option *ngFor="let business of BusinessTypeList"
                                    [value]="business.parameterValue">{{business.parameterName}}</option>
                            </select>
                            <div class="display-error"></div>
                        </div>
                    </div> -->
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label class="textbox_borderlabel">Status</label>
                            <select class="form-control dropdown_border" formControlName="Status">
                                <option value=''>Select</option>
                                <option *ngFor="let stage of stageList" [value]="stage.shortName">
                                    {{stage.parameterName}}</option>
                            </select>
                            <div class="display-error"></div>
                        </div>
                    </div>
                </div>
                <div class="row pd_zero">
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label class="textbox_borderlabel" style="margin-top: -22px;">Policy Start Date Range</label>
                            <input type="text" placeholder="MM/dd/yyyy" formControlName="EffectiveFromDate" bsDatepicker placement="right" [bsConfig]="{ showWeekNumbers:false }" 
                                class="form-control textbox_border_input width45" readonly>
                            <span class="inline-span">To</span>
                            <input type="text" placeholder="MM/dd/yyyy" formControlName="EffectiveToDate" bsDatepicker  [bsConfig]="{ showWeekNumbers:false }" 
                                class="form-control textbox_border_input width45" readonly>
                                <div class="display-error"></div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label class="textbox_borderlabel" style="margin-top: -22px;">Policy Expiry Date Range</label>
                            <input type="text" placeholder="MM/dd/yyyy" formControlName="ExpirationFromDate" bsDatepicker [bsConfig]="{ showWeekNumbers:false }"  
                                class="form-control textbox_border_input width45" readonly>
                            <span class="inline-span">To</span>
                            <input type="text" placeholder="MM/dd/yyyy" formControlName="ExpirationToDate"  bsDatepicker [bsConfig]="{ showWeekNumbers:false }"  
                                class="form-control textbox_border_input width45" readonly>
                                <div class="display-error"></div>
                        </div>
                    </div>


                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label class="textbox_borderlabel" style="margin-top: -22px;">Premium Range</label>
                            <input type="text" placeholder="From Range" formControlName="PremiumStart"
                                class="form-control textbox_border_input width45">
                            <span class="inline-span">To</span>
                            <input type="text" placeholder="To Range" formControlName="PremiumEnd"
                                class="form-control textbox_border_input width45">
                                <div class="display-error"></div>
                        </div>
                    </div>
                </div>
                <!-- ********      -->
                <div class="row pd_zero">
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label class="textbox_borderlabel">State</label>
                            <select class="form-control dropdown_border" formControlName="State">
                                <option value=''>Select</option>
                                <option *ngFor="let state of stateList" [value]="state.shortName">
                                    {{state.parameterName}}</option>
                            </select>
                            <div class="display-error" style="height: 12px;"></div>
                        </div>
                    </div>

                    <!-- <div class="col-sm-3 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label class="textbox_borderlabel">Period</label>
                            <select class="form-control dropdown_border" formControlName="Period">
                                <option value=''>Select</option>
                                <option *ngFor="let period of periodList" [value]="period.parameterId">
                                    {{period.parameterName}}</option>
                            </select>
                            <div class="display-error"></div>
                        </div>
                    </div> -->
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label class="textbox_borderlabel">Carrier</label>
                            <select class="form-control dropdown_border" formControlName="Carrier">
                                <option value=0>Select</option>
                                <option *ngFor="let carrier of carrierList" [value]="carrier.parameterId">
                                    {{carrier.parameterName}}</option>
                            </select>
                            <div class="display-error" style="height: 12px;"></div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label class="textbox_borderlabel">Alfred Alerts
                            </label>
                            <div class="multiselect">
                                <div class="selectBox" style="position: relative;" (click)="showCheckboxes()">
                                  <select class="form-control dropdown_border">
                                    <option>Select</option>
                                  </select>
                                  <div class="overSelect" style="position: absolute;left: 0;
                                  right: 0;
                                  top: 0;
                                  bottom: 0;"></div>
                                </div>
                                <span class="spanboxes">
                                <div class="absoluteContainer" style="display: none;">
                                   
                                    <div class="checkboxes"  >
                                     <label for="alfred.shortName" *ngFor="let alfred of alfredList; let i = index">
                                        <input style="margin-right: 10px;" type="checkbox" [checked]="isChecked(alfred.shortName)"
                                        (click)="checkAlfredFlag($event.target.id, $event.target.checked)"
                                        [value]="alfred.parameterName" [id]="alfred.shortName"> {{alfred.parameterName}}
                                    </label> 
                                   
                                    </div>
                                    
                                </div>
                            </span>
                              </div>
                            <div class="display-error" style="height: 12px;"></div>
                        </div>
                    </div>
                </div>



                <!-- *********  -->
                <div class="row pd_zero">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="col-md-12 pd_zero pdlZero">
                            <div class="form-group">
                                <label class="textbox_borderlabel_relative">Processing Type</label>
                                <div class="styled-radio">
                                    <ng-container *ngFor="let process of processingTypeList; let i = index">
                                        <div class="radio">
                                            <input type="radio" formControlName="ProcessingType"
                                                [value]="process.parameterId" [id]="process.parameterId">
                                            <label class="alert_check" [for]="process.parameterId">
                                                <div class="checker"></div>
                                                {{process.parameterName}}
                                            </label>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </div>

                    
                </div>
                <!-- <div class="row pd_zero">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="col-md-12 pd_zero pdlZero">
                            <div class="form-group">
                                <label class="textbox_borderlabel_relative">Alfred Alerts</label>
                                
                                <div class="styled-checkbox">


                                    <div class="multiselect">
                                        <div class="selectBox" (click)="showCheckboxes()">
                                          <select>
                                            <option>Select an option</option>
                                          </select>
                                          <div class="overSelect"></div>
                                        </div>
                                        <span class="spanboxes">
                                        <div class="checkboxes"  style="display: none;">
                                          <label for="alfred.parameterValue" *ngFor="let alfred of alfredList; let i = index">
                                            <input type="checkbox" [checked]="isChecked(alfred.parameterValue)"
                                            (click)="checkAlfredFlag($event.target.id, $event.target.checked)"
                                            [value]="alfred.parameterName" [id]="alfred.parameterValue">{{alfred.parameterName}}
                                         </label>
                                        </div>
                                        </span>>
                                      </div>

 <!--<div class="checkbox" *ngFor="let alfred of alfredList; let i = index">
                                        <input type="checkbox" [checked]="isChecked(alfred.parameterValue)"
                                            (click)="checkAlfredFlag($event.target.id, $event.target.checked)"
                                            [value]="alfred.parameterName" [id]="alfred.parameterValue">
                                        <label [for]="alfred.parameterValue">
                                            <div class="checkercheckbox"></div>
                                            <span *ngIf="alfred.iconURL != null"><img [src]="alfred.iconURL"></span>
                                            {{alfred.parameterName}}
                                        </label> 
                                    </div>

                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
            <div class="fb_footer">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="col-lg-2 col-md-2 col-sm-4 pd_zero pdlZero">
                        <div class="form-group">

                            <div class="styled-checkbox">
                                  <div class="checkbox">
                                      <input type="checkbox"  id="searchcriteria" (change)="checkFilterName($event.target.checked)"
                                      [checked]="isFilterFlag" name="searchcriteria" type="checkbox" >
                                      <label for="searchcriteria">
                                          <div class="checkercheckbox"></div>
                                          Save Search
                                      </label>
                                  </div>
                              </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-2">
                        <div class="form-group">
                            <input class="form-control textbox_border_input border-ip-footer" type="text" maxlength="25"
                                placeholder="Filter Name" formControlName="filterName" />

                            <div class="display-error" style="height: 12px;">
                                <span *ngIf="isFilterNameValid==false && isSearched">Please enter filter
                                    name</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-2">
                        <div class="form-group">
                            <input class="form-control textbox_border_input border-ip-footer" type="text" maxlength="200"
                                placeholder="Filter Description" formControlName="filterDetails" />

                            <div class="display-error" style="height: 12px;">
                                <span *ngIf="isFilterDescValid==false && isSearched">Please enter filter
                                    description</span>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-6 col-md-5 col-sm-5 float-right">
                        <div class="form-group right-buttons" style="margin-right: 6%;">
                            <button type="button"  (click)="cancelAdvanceFilterForm()" class="button_white">Cancel</button>
                            <button type="button" (click)="clearAdvanceFilterForm()" class="button_white">Clear All</button>
                            <button type="submit" (click)="SearchQuoteslist()"
                                class="btn-theme">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
           




