.certificate-info-container {
    width: 100%;
    overflow-y: scroll;
    padding: 1rem 1.5rem;
    height: calc(100vh - 271px);
}

// .checkbox-grid li {
//     display: block;
//     float: left;
//     width: 12.5%;
//     max-width: 100%;
//     display: flex;
//     flex-direction: row;
// }
.danger {
    border: 1px solid red;
}