<div class="container-fluid certificate-info-container">
    <div [formGroup]="certificateInfoForm">
        <div class="row">
            <div class="col-sm-12 mb-3">
                <p> <span class="dst_info"> <mat-icon>info</mat-icon></span> Showcase any Licenses or special
                    certifications here to help you stand out in our network.</p>
            </div>
            <mat-divider></mat-divider>
            <div class="col-sm-12 mb-3"></div>
            <div class="col-sm-12 mb-3">
                <mat-label class="fnt">I hold the following insurance designations </mat-label>
                <div class="cnt_inf">
                    <div *ngFor="let obj of certificatelist; let i = index">
                        <mat-checkbox type="checkbox" class="example-margin fs" [value]="obj"
                            (change)="onCheckboxChangeforInsurance_Designations($event)"
                            [checked]="isinsurance_DesignationsOnEdit(obj)">
                            {{ obj }}</mat-checkbox>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 mb-3" *ngIf="isinsurance_Designations_Other">
                <mat-label class="fnt">Please list your other insurance designation here
                </mat-label>
                <input formControlName="insurance_Designations_Other" type="text" class="form-control fs"
                    placeholder="Please list your other insurance designation here">
            </div>
            <div class="col-sm-12 mb-3"></div>
            <div class="col-sm-12 mb-3">
                <mat-label class="fnt">I hold a current certification for the
                    following :</mat-label>
                <div class="cnt_inf">
                    <div *ngFor="let obj of insurancelist; let i = index">
                        <mat-checkbox type="checkbox" class="example-margin fs" [value]="obj"
                            (change)="onCheckboxChangeforCertifications($event)"
                            [checked]="iscertificationsOnEdit(obj)">
                            {{ obj }}</mat-checkbox>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 mb-3" *ngIf="iscertifications_Other">
                <mat-label class="fnt">Please list your other certification here:
                </mat-label>
                <!-- <input formControlName="what_Sets_You_Apart_From_Other_Adjusters" type="text" class="form-control fs" placeholder="In one sentence, please describe what sets you apart from other adjusters:"> -->
                <textarea name="" formControlName="certifications_Other" id="" cols="20"
                    class="form-control"></textarea>
            </div>
            <!-- <div class="col-sm-12 mb-3"></div> -->
            <div class="col-sm-4 mb-3" *ngIf="isfcn">
                <mat-label class="fnt">Please enter your FCN here :</mat-label>
                <input formControlName="fcn" type="text" class="form-control fs" placeholder="FCN">
            </div>
            <div class="col-sm-12 mb-3"></div>
            <div class=" col-sm-12 mb-3">
                <mat-label class="fnt mendatory-field" id="adjuster_Licenses">I hold a current adjusting Licenses in the
                    following states :
                </mat-label><br>
                <div *ngFor="let obj of States; let i = index" class="cnt_inf">
                    <mat-checkbox type="checkbox" class="example-margin fs" [value]="obj.name"
                        (change)="onCheckboxChangeforAdjuster_Licenses($event)"
                        [checked]="isadjuster_LicensesOnEdit(obj.name)">
                        {{ obj.name }}</mat-checkbox>
                </div>
            </div>
            <!-- <div class="col-sm-12 mb-3"></div> -->
            <div class="col-sm-4 mb-3">
                <mat-label class="fnt mendatory-field">My National Producer Number is </mat-label>
                <input formControlName="national_Producer_Number" type="number" class="form-control fs"
                    placeholder="National Producer Number" (keydown)="restrictEnteringE($event)" [attr.maxLength]="19"
                    [ngClass]="{'danger':submit && certificateInfoForm.get('national_Producer_Number')?.invalid}">
            </div>
            <div class="col-sm-12 mb-3"></div>
            <div class="col-sm-12">
                <mat-label class="fnt mendatory-field" id="how_Did_You_Hear_About_Us">How did you hear about
                    us?</mat-label><br>
                <mat-radio-group aria-label="Select an option" class="cnt_inf"
                    formControlName="how_Did_You_Hear_About_Us">
                    <mat-radio-button value="Catadjuster.org" class="fs">Catadjuster.org</mat-radio-button>
                    <mat-radio-button value="Facebook">Facebook</mat-radio-button>
                    <mat-radio-button value="Indeed">Indeed</mat-radio-button>
                    <mat-radio-button value="LinkedIn">LinkedIn</mat-radio-button>
                    <mat-radio-button value="NACA"> NACA</mat-radio-button>
                    <mat-radio-button value="Recommended by another adjuster">Recommended by another adjuster
                    </mat-radio-button>
                    <mat-radio-button value="Twitter"> Twitter</mat-radio-button>
                    <mat-radio-button value="Other"> Other</mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="col-sm-12 mb-3"></div>
            <div class="col-sm-4 mb-3" *ngIf="ishow_Did_You_Hear_About_Us_Other">
                <mat-label class="fnt mendatory-field">Please list how you heard about us here:</mat-label>
                <input formControlName="how_Did_You_Hear_About_Us_Other" type="text" class="form-control fs"
                    placeholder="Please list how you heard about us here"
                    [ngClass]="{'danger':submit && certificateInfoForm.get('how_Did_You_Hear_About_Us_Other')?.invalid}">
            </div>
            <div class="col-sm-12 mb-3"></div>
        </div>
    </div>
</div>