<div>
    <app-communication-header></app-communication-header>

</div>

<div class="background">
</div>
<div class="outer-div">
    <div class="inner-div">
        <div class="front">
            <div class="front__bkg-photo"></div>
            <div class="front__face-photo"></div>
            <div class="front__text">
                <h3 class="front__text-header mb-5">THANK YOU FOR RESPONDING !</h3>
                <span class="front__text-hover">Now Subscribe to our Blog</span>
            </div>
        </div>
        <div class="back row">
            <div class="social-media-wrapper col">
                <a href="https://www.facebook.com/FieldProsDirect" class="social-icon"><i class="fab fa fa-facebook" aria-hidden="true"></i></a>
                <a href="#" class="social-icon"><i class="fab fa fa-twitter" aria-hidden="true"></i></a>
                <a href="#" class="social-icon"><i class="fab fa fa-linkedin" aria-hidden="true"></i></a>
                <a href="#" class="social-icon"><i class="fab fa fa-instagram" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</div>
<app-communication-footer></app-communication-footer>
