<!-- ................changes .......................... -->
<div class="container p-4">
    <div class="row bg_view about_adjuster">
        <div class="col-sm-3 user_view ">
            <mat-card>
                <mat-card-content>
                    <div class="row justify-content-between align-items-center">
                        <div class="col-sm-12 text-center user_images">
                            <img *ngIf="transform()" [src]=" transform()" alt="img" class="shadow rounded-circle p-2" style="width: 123px;
                height: 115px;">
                            <img *ngIf="!transform()" src="../../../assets/assets/image/profile.png" alt="img" width="100" class="shadow rounded-circle p-2" style="width: 123px;
                height: 115px;">
                        </div>
                        <div class=" profile-item col-sm-12 user_dtails">
                            <h2>{{ data.adjuster.name }}</h2>
                            <ul>
                                <li>
                                    <p>
                                        <span> <i class="fa-solid fa-location-dot"></i>
                                           {{viewProfile?.address1}}   
                                        </span></p>
                                </li>
                                <li>
                                    <p>
                                        <span> <i class="fa-solid fa-envelope"></i> <a href="mailto:{{ viewProfile?.emailAddress }}">{{ viewProfile?.emailAddress }}</a></span>
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <span> <i  class="fas fa-phone"></i> {{ viewProfile?.mobile| phoneMask }}</span></p>
                                </li>
                                <li>
                                    <p>
                                        <span> <i  class="fas fa-stream"></i> {{ deploymentData?.availabilityStatus }}</span></p>
                                </li>
                                <li>
                                    <p>
                                        <span> <button class="viewAdjusterProfile" mat-raised-button (click)="viewAdjusterProfile()">View Profile</button></span></p>
                                        <p *ngIf="this.loggedUserTypeCheck === 1">
                                            <span> <button class="viewAdjusterProfile" mat-raised-button (click)="editAdjusterProfile()">Edit Profile</button></span>
                                        </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-sm-9 about-conts">
            <div class="clse  view-clse">
                <button mat-button [mat-dialog-close]="true" #tooltip="matTooltip" matTooltipClass="bg-light text-dark border border-info" matTooltip="Close" matTooltipPosition="above">
                    <mat-icon>clear</mat-icon>
                </button>
            </div>
            <div class="about_adjst text-center center_adjust">
                <h1>About Adjuster</h1>
            </div>
            <div class="col-sm-9 mb-1"></div>
            <mat-card class="section">
                <mat-card-content>
                    <div class="about_sec">
                        <p><b>Adjuster Licenses :</b> {{ qustionList?.adjuster_Licenses }}
                        </p>
                    </div>
                </mat-card-content>
            </mat-card>
            <div class="col-lg-12 col-lg-8 col-md-12 col-sm-12 d-flex">
                <mat-card class="section_skills">
                    <mat-card-content>
                        <div class="about_sec">
    
                            <p><b>Commercial Property Desk :</b> &nbsp; &nbsp; {{qustionList?.commercial_Property_Desk}}</p>
                            <p><b>Commercial Property Field :</b> &nbsp; &nbsp; {{qustionList?.commercial_Property_Field}}</p>
                            <p><b>Residential Property Desk :</b> &nbsp; &nbsp; {{qustionList?.residential_Property_Desk}}</p>
                            <p><b>Residential Property Field :</b> &nbsp; &nbsp; {{qustionList?.residential_Property_Field}}</p>
    
                        </div>
                    </mat-card-content>
                </mat-card>
                <mat-card class="section_skills">
                    <mat-card-content>
                        <div class="about_sec">
                           
                            <p><b>What Type Of Claims Would You Prefer To Be Assigned :</b> &nbsp; &nbsp; {{qustionList?.what_Ttype_Of_Claims_Would_You_Prefer_To_Be_Assigned}}</p>
                            <p><b>Xactimate Estimating :</b> &nbsp; &nbsp; {{qustionList?.xactimate_Estimating}}</p>
                            <p><b>Symbility :</b> &nbsp; &nbsp; {{qustionList?.symbility}}</p>
    

                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
            
            <mat-card class="section">
                <mat-card-content>
                    <div class="about_sec">
                        <div class="container-fluid internal-container">
                            <form [formGroup]="internalInfoForm">
                                <div class="row">
                                    <!-- Headline Overview -->
                                    <div class="col-sm-12 mb-1">
                                        <mat-label class="fnt">Headline Overview</mat-label>
                                        <mat-form-field class="addin-field" appearance="outline">
                                            <textarea matInput formControlName="headLineOverview" maxlength="140" rows="2" placeholder="Enter headline"></textarea>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-12 mb-1">
                                        <mat-label class="fnt">Detailed Overview</mat-label>
                                        <mat-form-field class="addin-field" appearance="outline">
                                            <textarea matInput formControlName="internalNotes" placeholder="Enter details" rows="2"></textarea>
                                        </mat-form-field>
                                    </div>
                                   
                        
                                    <!-- Prevetting (formerly QB Rating) -->
                                    <div class="form-outline col-sm-12 col-md-6 col-lg-3 mb-1 add_label">
                                        <mat-label class="fnt">Prevetting</mat-label>
                                        <p>{{ internalInfoForm.get('prevetting')?.value ? internalInfoForm.get('prevetting')?.value : 'N/A'  }}</p>
                                    </div>
                        
                                    <!-- New Field Grades -->
                                    <div class="col-sm-12 col-md-6 col-lg-3 mb-1" *ngFor="let grade of ['residential_Field_Grade', 'commercial_Field_Grade', 'liability_Grade', 'inspector_Grade', 'desk_Grade', 'claims_Supervisor_Grade', 'file_Review_Grade']">
                                        <mat-label class="fnt">{{ formatLabel(grade) }}</mat-label>
                                        <p>{{ internalInfoForm.get(grade)?.value ? internalInfoForm.get(grade)?.value : 'N/A'  }}</p>
                                    </div>
                        
                                    <!-- Detailed Overview (formerly Notes) -->
                                    
                                </div>
                            </form>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>

