//  .head_status {
//      overflow-y: scroll;
//      height: auto;
//      display: flex;
//      flex-wrap: nowrap;
//      flex-direction: column;
//  }
//  .profile-item h2 {
//      font-size: 20px;
//      font-weight: 501;
//      text-align: center;
//  }
//  table {
//      width: 100%;
//      border-collapse: collapse;
//  }
//  table td {
//      border: 1px solid #f39811;
//      padding: 10px;
//  }
//  .table_label {
//      text-align: left;
//  }
//  .table_value {
//      text-align: right;
//  }
//  .view_close {
//      button {
//          padding: 0 !important;
//          margin: 0 !important;
//          border-radius: 50% !important;
//          text-align: center;
//          background: none !important;
//          line-height: 0 !important;
//          min-width: 0 !important;
//      }
//  }
// ...........................................................changes..
.user_view {
    mat-card {
        height: 100%;
    }
}

.about_adjst h1 {
    color: #fff;
    // color: #00b1c3;
    border-bottom: 4px solid #f39811;
    margin-top: 1rem;
    // font-size: 24px;
    // font-weight: 501;
    letter-spacing: 1px;
}

.user_images {
    height: 200px;
    line-height: 12.5;
    padding: 2rem;
}

.user_dtails {
    height: 298px;
    // padding: 2rem;
    // background: #ffe1ba;
    border-radius: 12px;
}

.user_dtails h2 {
    font-size: 20px;
    font-weight: 501;
    text-align: center;
}

.user_dtails ul {
    padding-left: 0;
}

.user_dtails li {
    margin-bottom: 16px;
    // background-color: #02adc0;
    // background: #fac175;
    background: #02adc0;
    border-radius: 4px;
    padding: .5rem;
    list-style: none;
    // color: rgba(0, 0, 0, .87);
    color: #fff;
}

.user_dtails li:hover {
    transition: all .33s ease-in;
    // box-shadow: 0 0 8px 0px #02adc0;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
}

.user_dtails p span {
    display: flex;
    text-align: start;
    justify-content: flex-start;
    align-items: baseline;
    gap: 4px;
    i {
        color: #fff;
        cursor: default;
    }
}

.bg_view {
    mat-card {
        // background-color: #02adc0;
        // background: #fff7ee;
        background-color: #fff;
        border-radius: 12px;
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }
    mat-card:hover {
        // box-shadow: 0 0 8px 0px aliceblue;
        transition: all .33s ease-in;
        filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
    }
}

.about_sec p {
    margin-bottom: 0;
    // padding: .5rem;
    padding: 6px;
}

.about-conts {
    mat-card {
        margin-bottom: 20px;
        padding: .5rem;
    }
}

.profile-item a {
    color: #fff;
    display: block;
    word-wrap: anywhere;
}

.profile-item a:hover {
    font-weight: bold;
    transition: all .22s ease-in;
}

.center_adjust {
    width: 241px;
    max-width: 100%;
    margin: 0 auto;
}

.view-clse {
    text-align: end;
    mat-icon {
        color: #fff;
    }
    mat-icon:hover {
        color: #f39811;
        background: #fff;
        border-radius: 50%;
        transition: all .22s ease-in;
    }
}
.viewAdjusterProfile{
    border-radius: 8px !important;
    background: #ffa022;
    color: #fff;
    width: -webkit-fill-available;
}
.section_skills{
    width: 50%;
    margin-right: 6px;
}