<div class="chart-container">
  <div class="donut-chart">
    <div class="slice slice1"></div>
    <div class="slice slice2"></div>
    <div class="slice slice3"></div>
    <div class="slice slice4"></div>
    <div class="slice slice5"></div>
    <div class="center-hole"></div>
  </div>

  <ul class="legend">
    <li><span class="legend-color color1"></span> Adverse Loss History 25%</li>
    <li><span class="legend-color color2"></span> Ineligible Class 35%</li>
    <li><span class="legend-color color3"></span> Incomplete Information 20%</li>
    <li><span class="legend-color color4"></span> Outside Appetite 15%</li>
    <li><span class="legend-color color5"></span> Other 5%</li>
  </ul>
</div>
