    // .internal-container {
    //     padding: 1rem 1.5rem;
    //     height: calc(100vh - 221px);
    // }
    .danger {
        border: 1px solid red;
    }
    
    // ................................................
    @media (min-width:340px) {
        .internal-container {
            padding: 1rem 1.5rem;
            height: calc(100vh - 356px);
        }
        .cnt_inf mat-checkbox,
        .cnt_inf mat-radio-button {
            width: 274px;
            margin-bottom: .5rem;
        }
    }
    
    @media (min-width:576px) {
        .internal-container {
            padding: 1rem 1.5rem;
            height: calc(100vh - 275px);
        }
        .cnt_inf mat-checkbox,
        .cnt_inf mat-radio-button {
            width: 240px;
            margin-bottom: 1rem;
        }
    }
    
    @media (min-width:768px) {
        .internal-container {
            padding: 1rem 1.5rem;
            height: calc(100vh - 225px);
        }
    }
    
    @media (min-width:992px) {
        .cnt_inf {
            display: inline-flex;
            max-width: 100%;
            flex-wrap: wrap;
            mat-checkbox,
            mat-radio-button {
                width: 286px;
                margin-bottom: 1rem;
                font-size: 13px;
                font-weight: 400;
                color: rgba(0, 0, 0, 0.87);
            }
        }
    }
    
    @media (min-width:920px) {
        .cnt_inf mat-checkbox,
        .cnt_inf mat-radio-button {
            width: 274px;
            margin-bottom: 1rem;
        }
    }