<div class="login-container">
    <div class="login-page">
        <div class="half-page login-page-form">
            <!-- <div class="login-page-logo">
                <img src="assets/images/logo.jpg">
            </div> -->
            <form [formGroup]="resetForm" (ngSubmit)="resetPassword()">
                <div class="login-page-form-fields">
                    <h4 class="mb-30">Reset Password</h4>
                    <div class="form-group">
                        <label class="textbox-underlinelabel">Enter 6 digit OTP sent to your email address</label>
                        <input type="password" maxlength="6" placeholder="Add OTP" dataTextFocus class="form-control textbox-underline otp-field"
                            formControlName="otp">
                       <!--  <span class="resend-otp">Resend OTP</span> -->
                        <div class="display-error">
                            <span *ngIf="otp.invalid && (otp.dirty|| otp.touched) && !submitted">
                                 <!-- OTP required -->
                                 {{_ResetPasswordScreen.ResetPassword.valid}}
                            </span>
                            <span *ngIf="otp.errors && submitted && otp.invalid">
                                <span *ngIf="otp.errors.required">
                                    <!-- OTP required -->
                                    {{_ResetPasswordScreen.ResetPassword.required}}
                                </span>
                            </span>
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="textbox-underlinelabel">New Password</label>
                        <input type="password" class="form-control textbox-underline" placeholder="Add New Password" formControlName="newPassword">
                        <div class="display-error changePwdError">
                            <div *ngIf="new.invalid  && (new.touched || new.dirty || submitted)">
                                <span *ngIf="new.errors.required">
                                    <!-- New Password Required -->
                                    {{_ResetPasswordScreen.NewPassword.required}}
                                </span>                              
                                <span *ngIf="!new.errors.minlength && new.errors.pattern">
                                    <!-- Password must contain at least 8 characters and includes uppercase, lowercase letters, numbers and a symbol !@#$%^&*()_+ -->
                                    {{_ResetPasswordScreen.NewPassword.validation}}
                                </span>                            
                            </div> 
                        </div>
                    </div>
                    <div class="form-group" style="margin-top: 55px;"> 
                        <label class="textbox-underlinelabel">Confirm Password</label>
                        <input type="password" class="form-control textbox-underline" placeholder="Add Confirm Password" formControlName="confirmPassword">
                        <div class="display-error">
                            <span *ngIf="confirm.invalid && (confirm.dirty || confirm.touched) && !submitted">
                                <span *ngIf="confirm.errors.required">
                                    <!-- Confirm Password Required -->
                                   {{_ResetPasswordScreen.ConfirmPassword.required}}
                                </span>
                                <span *ngIf="confirm.errors.mustMatch">
                                    <!-- Passwords must Match -->
                                    {{_ResetPasswordScreen.ConfirmPassword.match}}
                                </span>


                            </span>

                            <span *ngIf="confirm.errors && submitted && confirm.invalid">
                                <span *ngIf="confirm.errors.required">
                                    <!-- Confirm Password is required -->
                                    {{_ResetPasswordScreen.ConfirmPassword.error}}
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-theme-radius mt-20">Reset My
                            Password</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="half-page login-page-right-img">
            <img [src]="bannerUrl">
        </div>
    </div>
</div>