.radio-btns-direction{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.core-radio-btn{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1rem;

}

.font-bold{
    font-weight: 600;
}
.coreLabel{
    position: relative;
    bottom: 8px;
}


@media (min-width:340px) {
    .coreValue-container {
        padding: 1rem 1.5rem;
        height: calc(100vh - 356px);
    }
}

@media (min-width:576px) {
    .coreValue-container {
        padding: 1rem 1.5rem;
        height: calc(100vh - 275px);
    }
}

@media (min-width:768px) {
    .coreValue-container {
        padding: 1rem 1.5rem;
        height: calc(100vh - 225px);
    }
}