@import "../vars.scss";

.nxe-icons {
  width: 100%;
  height: 100%;
  position: absolute;

  .nxe-icons-container {
      display: flex;
      flex-wrap: wrap;

      .nxe-icons-wrapper {
          margin: 10px;
          width: 150px;
          display: inline-block;
          flex-grow: 0;
          z-index: 1;

          .nxe-icons-wrapper-inner {
            position: relative;
            padding: 8px;
            padding-bottom: 5px;
            text-align: center;
            border-radius: 8px;
            background: #f8f8f8;
            transition: all .4s;
        
            &:hover {
                cursor: pointer;
                background-color: #f5fbff;
            }
        
            .download-icon {
                position: absolute;
                top: 5px;
                left: 5px;
                z-index: 2;
        
                .isDownloaded {
                    font-size: 1.2rem;
                    color: #555;
                }
            }
        
            .checkbox-icon {
                position: absolute;
                top: 5px;
                right: 5px;
                z-index: 2;
        
                .select-checkbox {
                    transform: scale(1.2);
                    appearance: none;
                    width: 15px;
                    height: 15px;
                    border: 1px solid #ccc;
                    border-radius: 3px;
                    outline: none;
                    cursor: pointer;
                    transition: background-color 0.3s, border-color 0.3s;
        
                    &:not(:checked) {
                        background-color: #fff;
                    }
        
                    &:checked {
                        background-color: #28a745;
                        border-color: #28a745;
                    }
        
                    &:checked::after {
                        content: '✔';
                        font-size: 10px;
                        color: white;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
            }
        
            .nxe-icons-icon {
                margin-top: 15px;
        
                i {
                    font-size: 50px;
                    color: #555;
                    font-weight: 500;
        
                    &.nxe-folder {
                        color: #fdb900;
                    }
        
                    &.nxe-doc {
                        -webkit-text-stroke: 3px white;
                    }
                }
            }
        }
        

          .nxe-icon-text {
              text-align: center;
              overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-line-clamp: 3;
              -webkit-box-orient: vertical;
              padding: 3px 10px;
              font-size: 0.95rem;
              font-weight: 400;
          }
      }
  }
  .nxe-icons-backpad {
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 0;
  }
}


  .txt {
    background-image: url('../../../../assets/docIcons/txt.png');
    background-size: cover;
    background-position: center;
    width: 70px;
    height: 70px;
    display: inline-block;
  }

  .pdf {
    background-image: url('../../../../assets/docIcons/pdf.png');
    background-size: cover;
    background-position: center;
    width: 50px;
    height: 50px;
    display: inline-block;
  }

  .audio {
    background-image: url('../../../../assets/docIcons/audio.png');
    background-size: cover;
    background-position: center;
    width: 70px;
    height: 70px;
    display: inline-block;
  }

  .code {
    background-image: url('../../../../assets/docIcons/code.png');
    background-size: cover;
    background-position: center;
    width: 70px;
    height: 70px;
    display: inline-block;
  }

  .doc {
    background-image: url('../../../../assets/docIcons/docx.png');
    background-size: cover;
    background-position: center;
    width: 70px;
    height: 70px;
    display: inline-block;
  }

  .exe {
    background-image: url('../../../../assets/docIcons/exe.png');
    background-size: cover;
    background-position: center;
    width: 70px;
    height: 70px;
    display: inline-block;
  }

  .odp {
    background-image: url('../../../../assets/docIcons/odp.png');
    background-size: cover;
    background-position: center;
    width: 70px;
    height: 70px;
    display: inline-block;
  }

  .photo {
    background-image: url('../../../../assets/docIcons/photo.png');
    background-size: cover;
    background-position: center;
    width: 70px;
    height: 70px;
    display: inline-block;
  }

  .pptx {
    background-image: url('../../../../assets/docIcons/pptx.png');
    background-size: cover;
    background-position: center;
    width: 70px;
    height: 70px;
    display: inline-block;
  }

  .vector {
    background-image: url('../../../../assets/docIcons/vector.png');
    background-size: cover;
    background-position: center;
    width: 70px;
    height: 70px;
    display: inline-block;
  }
  .link{
    background-image: url('../../../../assets/docIcons/link.svg');
    background-size: cover;
    background-position: center;
    width: 70px;
    height: 70px;
    display: inline-block;
  }

  .video {
    background-image: url('../../../../assets/docIcons/video.png');
    background-size: cover;
    background-position: center;
    width: 70px;
    height: 70px;
    display: inline-block;
  }

  .xlsx {
    background-image: url('../../../../assets/docIcons/xlsx.png');
    background-size: cover;
    background-position: center;
    width: 70px;
    height: 70px;
    display: inline-block;
  }

  .zip {
    background-image: url('../../../../assets/docIcons/zip.png');
    background-size: cover;
    background-position: center;
    width: 70px;
    height: 70px;
    display: inline-block;
  }


