// .internal-container {
//     padding: 1rem 1.5rem;
//     height: calc(100vh - 221px);
// }
// ............................................
@media (min-width:340px) {
    .internal-container {
        padding: 1rem 1.5rem;
        height: calc(100vh - 356px);
    }
}

@media (min-width:576px) {
    .internal-container {
        padding: 1rem 1.5rem;
        height: calc(100vh - 275px);
    }
}

@media (min-width:768px) {
    .internal-container {
        padding: 1rem 1.5rem;
        height: calc(100vh - 225px);
    }
}