<head>
    <style>
         ::placeholder {
            color: rgb(184, 181, 181);
            opacity: 1;
            text-align: left !important;
        }
    </style>
</head>
<section class="container-fluid-lg login_fpd">
    <div class="container container_fpd">
        <div class="row login_card align-items-center">
            <div class="col-sm-12 col-lg-6 form_pd">
                <div class="text-center login_hd d-block my-3">
                    <a href="#" class="nav-logo">
                        <img src="../../../assets/assets/image/FPD Solutions Logo.png" alt="logo" class="img-fluid" style="width: 250px;
                        height: 58px;" target="_blank" #tooltip="matTooltip" matTooltipClass="bg-light text-dark border border-info" matTooltip="FMyFPD Portal" matTooltipPosition="right">
                    </a>
                    <h3 class="py-3">Enter email to receive OTP</h3>
                </div>
                <div class="d-flex align-items-center pt-xl-0 justify-content-center">
                    <form [formGroup]="PasswordResetForm" style="width: 23rem;">
                        <div class="form-outline mb-3">
                            <label class="ciFormLabel mendatory-field" for="form2Example18">Email</label>
                            <input formControlName="email" (keyup.enter)="sendLink($event)" trim="" type="email" #form2Example18 class="form-control form-control-lg crn" placeholder="email@mymail.com" />
                            <div *ngIf="submit && PasswordResetForm.controls['email'].errors?.['required']" class="text-danger">
                                Please enter your email in order to reset your password.
                            </div>
                            <div *ngIf="submit && PasswordResetForm.get('email')?.errors?.['pattern']" class="text-danger">
                                Please enter a valid email address.
                            </div>
                        </div>
                        <div class="pt-1 mb-3 forgot-button-grp">
                            <button mat-raised-button class="btn-outline-default crn" type="button" routerLink="/login">Back to Login</button>
                            <button mat-raised-button class="btn-default crn" (click)="sendLink($event)" type="button">Submit</button>
                        </div>
                    </form>
                </div>
                <div class="text-center pt-3">
                    <p> <a class="text-decoration-none text-muted">© {{currentYear}} FPD Solutions All Rights Reserved.</a>
                    </p>
                </div>
            </div>
            <div class="col-sm-12 col-lg-6 g-0 view">
                <div class="login_bg">
                    <img src="../../../assets/assets/image/locate_img/log.png" alt="Login image" class="img-fluid w-100">
                </div>
            </div>
        </div>
    </div>
</section>