:root {
    --application-bg-color: #f3f0f0;

    --primary-color:#45a3ff;
    --primary-hover-color:#375dbe;
    --primary-text-color:#ffffff; 

    --section-bg-color:#ffffff;
    --section-hover-color:#e4e4e4;
    
    --footer-bg-color: #f7f7f7;
    --footer-text-color:#8f8686;

    --dashboard-header-bg:#241d1a;
    --dashboard-header-bg-hover:#666667;

    --primary-error-color :red;
}