.container-preview {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  position: relative;
  width: 100%;
  height: 100%;
}
.header {
  display: flex;
  justify-content: flex-end;
  mat-icon {
      color: #000000;
  }
  mat-icon:hover {
      color: #f39811;
      background: #fff;
      border-radius: 50%;
      transition: all .22s ease-in;
  }
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10; /* Ensures it appears above the iframe */
}

.email-title{
    text-align: center;
    background: #00b1c3;
    color: #ffff;
    border-radius: 15px;
    padding: 5px;
  }
  .email-card-content {
    display: block;
    padding: 0 16px;
    height: auto;
    overflow: auto;
  }
  .quill-editor {
    height: auto;
    min-height: 300px;
  }

  .themeText{
    color: rgb(255, 139, 51);
  }
  .email-preview {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
  }
  .font-weight-bold {
    font-weight: bold;
  }

  .email-subject{
    font-size: 20px;
    font-weight: bold;

  }
  .subject-text{
    margin-left: 8px;
  }