<div class="pcr-block">
    <div class="pcr_b_inner">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pd_zero">
            <form [formGroup]="changeForm" (ngSubmit)="changePassword()">
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="form-group">
                        
                        <label class="textbox_borderlabel" [class.errorIPLabel]="current.errors && submitted && current.invalid || current.touched">Current Password<span class="required">*</span></label>
                        <input id="crPassword" type="password" class="form-control textbox_border_input" 
                            dataTextFocus placeholder="Current Password" 
                            formControlName="currentPass" 
                            [class.errorIP]="current.errors && submitted && current.invalid || current.touched">
                        <div class="display-error">
                            <span *ngIf="current.invalid && (current.dirty|| current.touched) && !submitted"> 
                                <!-- Current  Password Required -->
                                {{_MyAccountChangePasswordScreen.currentpassword.valid}}
                            </span>
                            <span *ngIf="current.errors && submitted && current.invalid">
                                <span *ngIf="current.errors.required">
                                    <!-- Current Password Required -->
                                    {{_MyAccountChangePasswordScreen.currentpassword.required}}
                                </span>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="form-group">
                        <label class="textbox_borderlabel" [class.errorIPLabel]="new.invalid  && (new.touched || new.dirty || submitted)">New Password<span class="required">*</span></label>
                        <input type="password" class="form-control textbox_border_input" placeholder="New Password"
                            formControlName="newPass" [class.errorIP]="new.invalid  && (new.touched || new.dirty || submitted)">
                        <div class="display-error">
                            <div *ngIf="new.invalid  && (new.touched || new.dirty || submitted)">
                                <span *ngIf="new.errors.required">
                                    <!-- New Password Required -->
                                    {{_MyAccountChangePasswordScreen.NewPassword.required}}
                                </span>
                                <!-- <span *ngIf="!new.errors.minlength && new.errors.pattern">
                                    Password must contain at least 8 characters and includes uppercase, lowercase
                                    letters, numbers and a symbol !@#$%^&*()_+
                                </span> -->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="form-group">
                        <label class="textbox_borderlabel" [class.errorIPLabel]="retype.invalid  && (retype.touched || retype.dirty || submitted)">Confirm Password<span class="required">*</span></label>
                        <input type="password" class="form-control textbox_border_input" placeholder="Confirm Password"
                            formControlName="retypePass" [class.errorIP]="retype.invalid  && (retype.touched || retype.dirty || submitted)">
                        <div class="display-error">
                            <span  *ngIf="retype.invalid  && (retype.touched || retype.dirty || submitted)">
                                <span *ngIf="retype.errors.required">
                                    <!-- Confirm Password Required -->
                                    {{_MyAccountChangePasswordScreen.ConfirmPassword.required}}
                                </span>
                                <span *ngIf="retype.errors.mustMatch"> 
                                    <!-- Password must Match -->
                                    {{_MyAccountChangePasswordScreen.ConfirmPassword.match}}
                                </span>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="form-group">
                        <button class="btn-theme mt-23">Save Password</button>
                    </div>
                </div>
                <div class="display-error changePwdError">
                    <div *ngIf="new.invalid  && (new.touched || new.dirty || submitted)">
                        <span *ngIf="!new.errors.minlength && new.errors.pattern">
                            <!-- Password must contain at least 8 characters and includes uppercase, lowercase letters, numbers and a symbol !@#$%^&*()_+ -->
                            {{_MyAccountChangePasswordScreen.SavPassword.pattern}}
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>