    <app-header></app-header>    
    <!-- <app-agent-dashboard *ngIf="roles == agent"></app-agent-dashboard>
    <app-agent-dashboard *ngIf="roles == manager"></app-agent-dashboard>
    <app-agent-dashboard *ngIf="roles == supervisor"></app-agent-dashboard>
    <app-mga-dashboard *ngIf="roles == mgaAdmin"></app-mga-dashboard>
    <app-agency-dashboard *ngIf="roles == agencyAdmin"></app-agency-dashboard>
    <app-agent-dashboard *ngIf="roles == Underwriter"></app-agent-dashboard>
    <app-agent-dashboard *ngIf="roles == 'Underwriter Assistant'"></app-agent-dashboard>
    <app-agent-dashboard *ngIf="roles == UWManager"></app-agent-dashboard>
    <app-agent-dashboard *ngIf="roles == UWSupervisior"></app-agent-dashboard>
    <app-system-admin-dashboard  *ngIf="roles == systemAdmin"></app-system-admin-dashboard> -->

    <app-agent-dashboard></app-agent-dashboard>