<div class="container-fluid deployment-container">
    <form [formGroup]="deploymentInfoForm">
        <div class="row">
            <div class="form-outline col-sm-12 col-md-6 col-lg-3 mb-3 add_label">
                <mat-label class="form-label fnt">Availability Status</mat-label>
                <mat-form-field class="addin-field" [hideRequiredMarker]="true"
                    [ngClass]="{'danger':submit && deploymentInfoForm.get('availabilityStatus')?.invalid}">
                    <mat-select formControlName="availabilityStatus" (selectionChange)="onStatusChange()">
                        <mat-option *ngFor="let option of availabilityStatusOptions" [value]="option"> {{ option }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="form-outline col-sm-12 col-md-6 col-lg-3 mb-3 add_label"
                *ngIf="deploymentInfoForm.get('availabilityStatus')?.value === 'Unavailable'">

                <mat-label class="fnt">Availability Date
                </mat-label>
                <div class="d-flex frm_dt">
                    <input formControlName="availabilityDate" [matDatepicker]="availabilityDate" class="form-date fs"
                        placeholder="MM-DD-YYYY" matTooltip="Enter date in MM-DD-YYYY format"
                        [ngClass]="{'danger':submit && deploymentInfoForm.get('availabilityDate')?.invalid}"
                        (keypress)="$event.preventDefault()">
                    <mat-datepicker-toggle [for]="availabilityDate"></mat-datepicker-toggle>
                    <mat-datepicker #availabilityDate></mat-datepicker>
                </div>
                <div *ngIf="deploymentInfoForm.controls['availabilityDate'].invalid && 
        (deploymentInfoForm.controls['availabilityDate'].dirty || 
         deploymentInfoForm.controls['availabilityDate'].touched)" class="alert alert-danger">
                    <div *ngIf="deploymentInfoForm.get('availabilityDate')?.hasError('futureDate')">
                        The date you enter must be a Future date!
                      </div>
                </div>
                </div>
                <div class="form-outline col-sm-12 col-md-6 col-lg-3 mb-3 add_label">
                    <mat-label class="form-label fnt">Claim Capacity</mat-label>
                    <input formControlName="claimCapacity" type="number" class="form-control fs" placeholder="Claim Capacity" min="0"
                        max="1000" [ngClass]="{'danger':submit && deploymentInfoForm.controls['claimCapacity'].errors}"
                        oninput="if(this.value > 1000) this.value = 1000;" />
                    <div *ngIf="deploymentInfoForm.controls['claimCapacity'].errors?.['min'] || deploymentInfoForm.controls['claimCapacity'].errors?.['max']"
                        class="alert alert-danger">
                        maximum claim capacity is 1000.
                    </div>
                
                </div>

            </div>
            
            
            <mat-divider></mat-divider>

        <div class="row"
            *ngIf="deploymentInfoForm.get('availabilityStatus')?.value === 'Deployed' || deploymentInfoForm.get('availabilityStatus')?.value === 'Available'">
            <!-- <h3>Deployment Location Address</h3> -->
            <mat-label class=" fnt ">Deployment Location Address</mat-label>
            <div class=" form-outline col-sm-12 col-md-6 col-lg-3 mb-3 add_label">
                <mat-label for="form-label" class="fnt ">Country</mat-label>
                <mat-form-field class="addin-field" appearance="outline" [hideRequiredMarker]="true"
                    [ngClass]="{'danger':submit && deploymentInfoForm.get('deploymentCountry')?.invalid}">
                    <mat-select formControlName="deploymentCountry" (selectionChange)="getStateZipLabel()" appearance="outline">
                        <mat-option *ngFor="let country of countries" [value]="country.value"> {{country.value}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="form-outline col-sm-12 col-md-6 col-lg-3 mb-3 add_label">
                <mat-label class=" fnt ">Street Address</mat-label>
                <input formControlName="deploymentLocationAddress1" type="text" class="form-control fs"
                    placeholder="Street Address"
                    [ngClass]="{'danger':submit && deploymentInfoForm.get('deploymentLocationAddress1')?.invalid,'nodanger':deploymentInfoForm.get('deploymentLocationAddress1')?.valid}">
            </div>
            <div class="form-outline col-sm-12 col-md-6 col-lg-3 mb-3 add_label">
                <mat-label class=" fnt ">City</mat-label>
                <input formControlName="deploymentCity" type="text" class="form-control fs" placeholder="City"
                    [ngClass]="{'danger':submit && deploymentInfoForm.get('deploymentCity')?.invalid,'nodanger':deploymentInfoForm.get('deploymentCity')?.valid}">
            </div>
            <div class="form-outline col-sm-12 col-md-6 col-lg-3 mb-3 add_label">
                <mat-label class="fnt ">{{stateLabel}}</mat-label>
                <mat-form-field class="addin-field"appearance="outline" [hideRequiredMarker]="true"
                    [ngClass]="{'danger':submit && deploymentInfoForm.get('deploymentState')?.invalid}">
                    <mat-select formControlName="deploymentState" placeholder="Select">
                        <mat-option [value]=""> Select
                        </mat-option>
                        <mat-option *ngFor="let option of StatesList" [value]="option.stateName"> {{ option.stateName }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="form-outline col-sm-12 col-md-6 col-lg-3 mb-3 add_label">
                <mat-label class="fnt ">{{zipLabel}}</mat-label>
                <input formControlName="deploymentZip" type="text" class="form-control fs" minlength="5" maxlength="11"
                    oninput="javascript: if (this.value.length > this.maxLength) {this.value = this.value.slice(0, this.maxLength);}"
                    [placeholder]=zipLabel
                    [ngClass]="{'danger':submit && deploymentInfoForm.get('deploymentZip')?.invalid,'nodanger':deploymentInfoForm.get('deploymentZip')?.valid}">
            </div>

        </div>
    </form>
    <mat-divider></mat-divider>
    <div class="row">
        <div class="col-sm-12 mb-3"></div>
        <div class="col-sm-12 mb-2 text-center">
            <mat-label class="lg_fnt expr">
                Survey List
            </mat-label>
        </div>
        <table mat-table [dataSource]="surveyList" class="mat-elevation-z8" matSort>
            <!-- Title Column -->
            <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
                <td mat-cell *matCellDef="let survey"> {{ survey.title }} </td>
            </ng-container>
        
            <!-- Sent Date Column -->
            <ng-container matColumnDef="createOn">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Sent Date </th>
                <td mat-cell *matCellDef="let survey"> {{ survey.createOn | date: 'MM/dd/yyyy' }} </td>
            </ng-container>
        
            <!-- Responded Date Column -->
            <ng-container matColumnDef="submittedOn">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Responded Date </th>
                <td mat-cell *matCellDef="let survey"> {{ survey.submittedOn | date: 'MM/dd/yyyy' }} </td>
            </ng-container>
        
            <!-- View Response Column -->
            <ng-container matColumnDef="response">
                <th mat-header-cell *matHeaderCellDef mat-sort-header (click)="ngOnSimpleChanges()"> Response </th>
                <td mat-cell *matCellDef="let survey">
                    <a class="view" *ngIf="survey.submittedOn" (click)="navigateToPreview(survey)">View Response</a>
                    <span *ngIf="!survey.submittedOn">Not Responded</span>
                </td>
            </ng-container>
        
            <!-- Header Row -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <!-- Data Row -->
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <!-- No data message -->
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data available</td>
            </tr>
        </table>
    <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons aria-label="Select page of surveys">
    </mat-paginator>
    </div>





</div>