// .deployment-container{
//     padding: 1rem 1.5rem;
//     height: calc(100vh - 221px);
// }
// ............................................

.view {
    cursor: pointer;
    color: #0d6efd !important;
}
@media (min-width:340px) {
    .deployment-container{
        padding: 1rem 1.5rem;
        height: calc(100vh - 356px);
    }
}

@media (min-width:576px) {
    .deployment-container{
        padding: 1rem 1.5rem;
        height: calc(100vh - 275px);
    }
}

@media (min-width:768px) {
    .deployment-container{
        padding: 1rem 1.5rem;
        height: calc(100vh - 225px);
    }
}