<div class="header-fixed">
    <div class="row">
        <div class="col-12 col-md-4 col-lg-3 rm-pad-right">
            <div class="hf-left-panel">
                <div class="hflp-first">
                    <span class="hflp-first-heading">AQ</span>
                </div>
                <div class="hflp-second">
                    <ul>
                        <li>
                            <p>
                                <span class="hflp-second-heading">Agency</span>
                                <span class="hflp-second-rating">4</span>
                                <span class="hflp-second-rating-star"><img src="assets/images/Yellow_Star.png"><img
                                        src="assets/images/Yellow_Star.png"><img
                                        src="assets/images/Yellow_Star.png"><img
                                        src="assets/images/Yellow_Star.png"><img
                                        src="assets/images/Yellow_grey.png"></span></p>
                        </li>
                        <li>
                            <p>
                                <span class="hflp-second-heading">Peers</span>
                                <span class="hflp-second-rating">5</span>
                                <span class="hflp-second-rating-star"><img src="assets/images/Yellow_Star.png"><img
                                        src="assets/images/Yellow_Star.png"><img
                                        src="assets/images/Yellow_Star.png"><img
                                        src="assets/images/Yellow_Star.png"><img
                                        src="assets/images/Yellow_Star.png"></span></p>
                        </li>
                        <li>
                            <p>
                                <span class="hflp-second-heading">Others</span>
                                <span class="hflp-second-rating">4</span>
                                <span class="hflp-second-rating-star"><img src="assets/images/Yellow_Star.png"><img
                                        src="assets/images/Yellow_Star.png"><img
                                        src="assets/images/Yellow_Star.png"><img
                                        src="assets/images/Yellow_Star.png"><img
                                        src="assets/images/Yellow_grey.png"></span></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-8 col-lg-9 rm-pad-left">
            <div class="hf-right-panel">
                <div class="hfrp-single">
                    <p class="hfrps-heading">Quotes</p>
                    <p class="hfrps-count">7000</p>
                    <p class="hfrp-percent"><span><img src="assets/images/ups.png"> 5%</span></p>
                </div>
                <div class="hfrp-single">
                    <p class="hfrps-heading">New Business</p>
                    <p class="hfrps-count">1200</p>
                    <p class="hfrp-percent"><span><img src="assets/images/downs.png"> 3%</span></p>
                </div>
                <div class="hfrp-single">
                    <p class="hfrps-heading">Renewed Business</p>
                    <p class="hfrps-count">3230</p>
                    <p class="hfrp-percent"><span><img src="assets/images/ups.png"> 4.2%</span></p>
                </div>
                <div class="hfrp-single">
                    <p class="hfrps-heading">Renewals</p>
                    <p class="hfrps-count">647</p>
                    <p class="hfrp-percent"><span><img src="assets/images/downs.png"> 1.5%</span></p>
                </div>
                <div class="hfrp-single">
                    <p class="hfrps-heading">Policy Issued</p>
                    <p class="hfrps-count">2650</p>
                    <p class="hfrp-percent"><span><img src="assets/images/downs.png"> 2%</span></p>
                </div>
                <div class="hfrp-single">
                    <p class="hfrps-heading">Commissions</p>
                    <p class="hfrps-count">14,000</p>
                    <p class="hfrp-percent"><span><img src="assets/images/ups.png"> 3.5%</span></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-content">
    <div class="row">
        <div class="col-12 col-md-4 col-lg-3 rm-pad-right">
            <div class="page-content-left">
                <div class="pcl-header">
                    <div class="todoList-heading">
                        <h4>To-do List</h4>
                    </div>
                    <div class="todoList-notification">
                        <div class="todoList-filter">

                        </div>
                        <span>
                            <img src="assets/images/notify.png">
                        </span>
                    </div>
                    <div class="todo-search">
                        <input type="text" class="greybg-input" placeholder="Search">
                    </div>
                </div>
                <div class="pcl-todoList">
                    <div class="singletoDoList">
                        <span class="todoList-icon bgorange">
                            E
                        </span>
                        <span class="todoList-para">
                            Lorem Ipsum is simply dummy text of the printing. Lorem Ipsum has been the industry's
                            standard.
                        </span>
                        <span class="todoList-more">
                            <img src="assets/images/more.png">
                        </span>
                    </div>
                    <div class="singletoDoList">
                        <span class="todoList-icon bggreen">
                            NB
                        </span>
                        <span class="todoList-para">
                            Lorem Ipsum is simply dummy text of the printing. Ipsum has been the industry's standard.
                        </span>
                        <span class="todoList-more">
                            <img src="assets/images/more.png">
                        </span>
                    </div>
                    <div class="singletoDoList">
                        <span class="todoList-icon bgorange">
                            E
                        </span>
                        <span class="todoList-para">
                            Lorem Ipsum is simply dummy text of the printing. Lorem Ipsum has been the industry's
                            standard.
                        </span>
                        <span class="todoList-more">
                            <img src="assets/images/more.png">
                        </span>
                    </div>
                    <div class="singletoDoList">
                        <span class="todoList-icon bggreen">
                            NB
                        </span>
                        <span class="todoList-para">
                            Lorem Ipsum is simply dummy text of the printing. Ipsum has been the industry's standard.
                        </span>
                        <span class="todoList-more">
                            <img src="assets/images/more.png">
                        </span>
                    </div>
                    <div class="singletoDoList">
                        <span class="todoList-icon bgorange">
                            E
                        </span>
                        <span class="todoList-para">
                            Lorem Ipsum is simply dummy text of the printing. Lorem Ipsum has been the industry's
                            standard.
                        </span>
                        <span class="todoList-more">
                            <img src="assets/images/more.png">
                        </span>
                    </div>
                    <div class="singletoDoList">
                        <span class="todoList-icon bggreen">
                            NB
                        </span>
                        <span class="todoList-para">
                            Lorem Ipsum is simply dummy text of the printing. Ipsum has been the industry's standard.
                        </span>
                        <span class="todoList-more">
                            <img src="assets/images/more.png">
                        </span>
                    </div>
                    <div class="singletoDoList">
                        <span class="todoList-icon bgorange">
                            E
                        </span>
                        <span class="todoList-para">
                            Lorem Ipsum is simply dummy text of the printing. Lorem Ipsum has been the industry's
                            standard.
                        </span>
                        <span class="todoList-more">
                            <img src="assets/images/more.png">
                        </span>
                    </div>
                    <div class="singletoDoList">
                        <span class="todoList-icon bggreen">
                            NB
                        </span>
                        <span class="todoList-para">
                            Lorem Ipsum is simply dummy text of the printing. Ipsum has been the industry's standard.
                        </span>
                        <span class="todoList-more">
                            <img src="assets/images/more.png">
                        </span>
                    </div>
                    <div class="singletoDoList">
                        <span class="todoList-icon bgorange">
                            E
                        </span>
                        <span class="todoList-para">
                            Lorem Ipsum is simply dummy text of the printing. Lorem Ipsum has been the industry's
                            standard.
                        </span>
                        <span class="todoList-more">
                            <img src="assets/images/more.png">
                        </span>
                    </div>
                    <div class="singletoDoList">
                        <span class="todoList-icon bggreen">
                            NB
                        </span>
                        <span class="todoList-para">
                            Lorem Ipsum is simply dummy text of the printing. Ipsum has been the industry's standard.
                        </span>
                        <span class="todoList-more">
                            <img src="assets/images/more.png">
                        </span>
                    </div>
                    <div class="singletoDoList">
                        <span class="todoList-icon bgorange">
                            E
                        </span>
                        <span class="todoList-para">
                            Lorem Ipsum is simply dummy text of the printing. Lorem Ipsum has been the industry's
                            standard.
                        </span>
                        <span class="todoList-more">
                            <img src="assets/images/more.png">
                        </span>
                    </div>
                    <div class="singletoDoList">
                        <span class="todoList-icon bggreen">
                            NB
                        </span>
                        <span class="todoList-para">
                            Lorem Ipsum is simply dummy text of the printing. Ipsum has been the industry's standard.
                        </span>
                        <span class="todoList-more">
                            <img src="assets/images/more.png">
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-8 col-lg-9 rm-pad-left">
            <div class="page-content-right">
                <div class="pcr-header">
                    <div class="pcr-heading">
                        <h4>Workboard</h4>
                    </div>
                    <div class="pcr-tags">
                        <div class="pcr-tagnotification">
                            <span><strong>NB</strong> [New Business]</span>
                            <span><strong>E</strong> [Endorsement]</span>
                            <span><strong>R</strong> [Renewals]</span>
                        </div>
                        <button class="quoteBtn">
                            + New Quote
                        </button>
                    </div>
                </div>
                <div class="pcr-block">
                    <div class="pcr-block-single">
                        <h4 class="pcrbs-heading"><span class="purple_line">Indic</span>ations</h4>
                        <p class="pcrbs-count">1000</p>
                        <ul class="pcrbs-details">
                            <li>
                                <p><span class="pd-upr">100</span><br><span class="pd-btm">NB</span></p>
                            </li>
                            <li>
                                <p><span class="pd-upr">50</span><br><span class="pd-btm">E</span></p>
                            </li>
                            <li>
                                <p><span class="pd-upr">20</span><br><span class="pd-btm">R</span></p>
                            </li>
                        </ul>
                    </div>
                    <div class="pcr-block-single">
                        <h4 class="pcrbs-heading"><span class="orange_line">Quot</span>es</h4>
                        <p class="pcrbs-count">500</p>
                        <ul class="pcrbs-details">
                            <li>
                                <p><span class="pd-upr">80</span><br><span class="pd-btm">NB</span></p>
                            </li>
                            <li>
                                <p><span class="pd-upr">20</span><br><span class="pd-btm">E</span></p>
                            </li>
                            <li>
                                <p><span class="pd-upr">10</span><br><span class="pd-btm">R</span></p>
                            </li>
                        </ul>
                    </div>
                    <div class="pcr-block-single">
                        <h4 class="pcrbs-heading"><span class="blue_line">Boun</span>d</h4>
                        <p class="pcrbs-count">400</p>
                        <ul class="pcrbs-details">
                            <li>
                                <p><span class="pd-upr">40</span><br><span class="pd-btm">NB</span></p>
                            </li>
                            <li>
                                <p><span class="pd-upr">10</span><br><span class="pd-btm">E</span></p>
                            </li>
                            <li>
                                <p><span class="pd-upr">5</span><br><span class="pd-btm">R</span></p>
                            </li>
                        </ul>
                    </div>
                    <div class="pcr-block-single">
                        <h4 class="pcrbs-heading"><span class="green_line">Issu</span>ed</h4>
                        <p class="pcrbs-count">380</p>
                        <ul class="pcrbs-details">
                            <li>
                                <p><span class="pd-upr">25</span><br><span class="pd-btm">NB</span></p>
                            </li>
                            <li>
                                <p><span class="pd-upr">8</span><br><span class="pd-btm">E</span></p>
                            </li>
                            <li>
                                <p><span class="pd-upr">5</span><br><span class="pd-btm">R</span></p>
                            </li>
                        </ul>
                    </div>
                    <div class="pcr-block-single">
                        <h4 class="pcrbs-heading"><span class="red_line">Canc</span>elled</h4>
                        <p class="pcrbs-count">10</p>
                    </div>
                </div>
            </div>
            <div class="page-content-right">
                <div class="pcr-header">
                    <div class="pcr-heading">
                        <h4>Alfred Alerts</h4>
                    </div>
                    <div class="pcr-block">
                        <div class="pcr-alerts-single">
                            <p><span><img src="assets/images/minus_green.png"></span> Contrary to popular belief, Lorem
                                Ipsum is not simply random text. </p>
                            <p><span><img src="assets/images/minus_red.png"></span> Contrary to popular belief, Lorem
                                Ipsum is not simply random text. </p>
                            <p><span><img src="assets/images/minus_green.png"></span> Contrary to popular belief, Lorem
                                Ipsum is not simply random text. </p>
                            <p><span><img src="assets/images/minus_red.png"></span> Contrary to popular belief, Lorem
                                Ipsum is not simply random text. </p>
                            <p><span><img src="assets/images/minus_green.png"></span> Contrary to popular belief, Lorem
                                Ipsum is not simply random text. </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-content-right devidedbythree">
                <div class="pcr-header">
                    <div class="pcr-heading">
                        <h4>Lorem Ispum</h4>
                    </div>
                </div>
                <div class="pcr-block">

                </div>
            </div>
            <div class="page-content-right devidedbythree">
                <div class="pcr-header">
                    <div class="pcr-heading">
                        <h4>Lorem Ispum</h4>
                    </div>
                </div>
                <div class="pcr-block">

                </div>
            </div>
            <div class="page-content-right devidedbythree">
                <div class="pcr-header">
                    <div class="pcr-heading">
                        <h4>Lorem Ispum</h4>
                    </div>
                </div>
                <div class="pcr-block">

                </div>
            </div>
        </div>
    </div>
</div>
<div class="floating-icon">
    <span>2</span>
    <img src="assets/images/chat.png">
</div>