<div class="container p-5">
    <div class="clse info_close">
        <button mat-button [mat-dialog-close]="true" #tooltip="matTooltip" matTooltipClass="bg-light text-dark border border-info" matTooltip="Close" matTooltipPosition="above">
            <mat-icon>clear</mat-icon>
        </button>
    </div>
    <div class="row">
        <div class="text-center text_fpd col-sm-12" style="
            white-space: pre-wrap;">
            <h1 class="welcome_myfpd">
                Welcome to MyFPD Portal
            </h1>
            <p>
                MyFPD Portal was created to give our FPD adjusters the ability to easily view and update their information – matching you with the type of opportunities you want.
            </p>
        </div>
        <mat-divider></mat-divider>
        <div class="text-start col-sm-12">
            <div class="hint_text py-3">
                <h3>Helpful tips to get the most out of MyFPD Portal: </h3>
                <ol>
                    <li>
                        <strong><u>Check your profile </u> :</strong> Review your profile to make sure everything looks correct, including your skills and preferences.
                    </li>
                    <li>
                        <strong> <u>Double check your contact information</u> :</strong>Double check your contact information: Errors happen, but bad contact information can result in missing opportunities. Be sure your email, phone, city, state and zip are accurate.
                    </li>
                    <li>
                        <strong>
                           <u> Upload your latest resume</u> :</strong> Upload your latest resume: If you didn’t upload your resume already, we highly recommend do this. Some clients require it and some Team Member’s still use it. You can find this under “Skills and Work History” within your profile.
                    </li>

                </ol>
            </div>
        </div>
        <div class="text-center text_portal col-sm-12">
            <p>This is just the beginning, so be on the lookout for new functionality and enhancements as we continue to build a better adjuster experience. </p>
            <p> <span style="color:#00b1c3;">Questions?</span><u> For any questions about the <strong>MyFPD</strong> Portal, you can email <a href="mailto:helpdesk@fpdsolutions.com">helpdesk&#64;fpdsolutions.com</a></u> </p>
        </div>
    </div>
</div>