<!-- <ng-container *ngIf="QuoteStage == 'IQ'"> 
    <aq-form  [BaseURL]="baseURL" [AQFormDataIn]="AQFormData" [ClientID]="ClientID" [FormDefinition]="FormDefinition"
    [FormDataID]="FormDataID" [DevMode]="DevMode" (AQFormDataOut)='getFormDataMaster($event)'  (AQCheckboxDataOut)="AQCheckboxDataOut($event)" (AQCancelDataOut)="AQCancelDataOut($event)"></aq-form>
</ng-container> -->

<!-- <ng-container *ngIf="QuoteStage == 'IQ'"> 
    <aq-form  [BaseURL]="baseURL" [ClientID]="ClientID" [FormDefinition]="FormDefinition"
     (AQCancelDataOut)="AQCancelDataOut($event)"></aq-form>
</ng-container> -->
