<div class="select-quick-quote-header">
    <h2>Book of Business Transfer</h2>
    <span (click)="onCancel()" class="close-dialog"><img src="assets/images/delete-popup.png"></span>
</div>

<div class="pagemodal-content">
    <div class="modal_select_quote">
        <div class="col-md-12 pd_zero">
            <div class="form-group" style="padding: 80px 20px;">
                <span>{{message}}</span>
            </div>
        </div>
        
    </div>

</div>

<div class="pagemodal-footer">
    <button (click)="onClose()" class="btn-theme width-160">OK</button>
</div>