<div class="login-container">
    <div class="login-page">
        <div class="half-page login-page-form">
            <!-- <div class="login-page-logo">
               
            </div> -->
            <form [formGroup]="changeForm" (ngSubmit)="changePassword()">
                <div class="login-page-form-fields">
                    <h4 class="mb-30">Change Password</h4>
                    <div class="form-group">
                        <label class="textbox-underlinelabel">Current Password</label>
                        <input type="password" dataTextFocus placeholder="Add Current Password" class="form-control textbox-underline" formControlName="currentPass">
                        <div class="display-error">
                            <span *ngIf="current.invalid && (current.dirty|| current.touched) && !submitted"> 
                                <!-- Current Password Required -->
                                 {{_ChangePasswordScreen.currentpassword.required}} 
                            </span>
                            <!-- <span *ngIf="current.errors && submitted && current.invalid">
                                <span *ngIf="current.errors.required">Current Password Required</span>
                            </span> -->
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="textbox-underlinelabel">New Password</label>
                        <input type="password" class="form-control textbox-underline" placeholder="Add New Password" formControlName="newPass">
                        <div class="display-error changePwdError">
                            <div *ngIf="new.invalid  && (new.touched || new.dirty || submitted)">
                                <span *ngIf="new.errors.required">
                                    <!-- New Password Required -->
                                    {{_ChangePasswordScreen.NewPassword.required}}
                                </span>                              
                                <span *ngIf="!new.errors.minlength && new.errors.pattern">
                                    <!-- Password must contain at least 8 characters and includes uppercase, lowercase letters, numbers and a symbol !@#$%^&*()_+ -->
                                    {{_ChangePasswordScreen.NewPassword.validation}}
                                </span>                            
                            </div>                            
                        </div>
                    </div>
                    <div class="form-group" style="margin-top: 50px;">
                        <label class="textbox-underlinelabel">Confirm Password</label>
                        <input type="password" class="form-control textbox-underline" placeholder="Add Confirm Password" formControlName="retypePass">
                        <div class="display-error changePwdError">
                            <span  *ngIf="retype.invalid  && (retype.touched || retype.dirty || submitted)">
                                <span *ngIf="retype.errors.required">
                                    <!-- Confirm Password Required -->
                                    {{_ChangePasswordScreen.ConfirmPassword.required}}
                                </span>
                                <span *ngIf="retype.errors.mustMatch"> 
                                    <!-- Password must Match -->
                                    {{_ChangePasswordScreen.ConfirmPassword.match}}
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-theme-radius mt-20">Save Password</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="half-page login-page-right-img">
            <img [src]="bannerUrl">
        </div>
    </div>
</div>